.black_page {
	color: #fff;
	background: #000;
}
section.black_hero {
	min-height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: 1;

	&:before {
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		content: '';
		background: rgba(0,0,0,0);
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.5) 100%);
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,.5) 100%);
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,.5) 100%);
	}
	.wrapper {
		min-height: 100vh;
		position: relative;
		z-index: 2;
		padding-top: 150px;
		padding-bottom: 150px;
		display: flex;
	}
	.center {
		margin: auto;
		max-width: 540px;
		color: #fff;
		text-align: center;
	}
	.excerpt {
		font-size: 31px;
		font-family: $medium;
		line-height: 130%;
	}
	.mobile_background,
	.desktop_background {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	@include mobile {
		margin-bottom: 50px;
	}
}
section.main_slider {
	padding-top: 100px;
	background: #000;
	font-size: 0;
	padding-bottom: 62px;

	@include mobile {
		padding-top: 0;
	}

	img {
		height: 400px;

		@include mobile {
			height: 220px;
		}
	}
	.swiper-slide {
		display: inline-block;
		vertical-align: top;
		flex-shrink: 1;
		width: auto;
	}
	.swiper-wrapper {
		cursor: grab;
	}
	.swiper-container {
		width: calc(100% - 120px);
		margin-left: 60px;
		overflow: visible;
		text-align: left;
	}
}
section.bigger_smaller_texts {
	padding-bottom: 55px;

	@include mobile {
		padding-bottom: 40px;
	}
	.wrapper {
		display: flex;

		@include mobile {
			display: block;
		}
	}
	h2 {
		display: inline-block;
		vertical-align: top;
		width: 50%;
		padding-right: 100px;

		@include mobile {
			width: 100%;
			padding-right: 0;
			display: block;
			margin-bottom: 20px;
		}
	}
	.text {
		display: inline-block;
		vertical-align: top;
		width: 50%;

		@include mobile {
			width: 100%;
			display: block;
		}
	}
}
section.text_image.type_3 {
	@extend section.text_image.type_2;
	min-height: 0;
	padding-bottom: 95px;

	@include mobile {
		padding-bottom: 20px;
	}
	.img_1 {
		width: calc(50% - 100px);
		height: 567px;

		@include mobile {
			width: calc(100vw - 40px);
			height: calc(100vw - 40px);
		}
	}
	.text_block {
		padding-top: 312px;
		padding-left: 50%;

		@include mobile {
			padding-top: 90px;
			padding-left: 0;
		}
	}
	h2 {
		position: relative;

		&:before {
			display: block;
			position: absolute;
			content: '';
			background: $blue;
			top: -62px;
			height: 2px;
			width: 60px;
			left: -30px;	

			@include mobile {
				top: -45px;
			}
		}
	}
}
section.full_gallery {
	width: 100%;
	min-height: calc(100vh - 82px);
	cursor: grab;

	@include mobile {
		min-height: 400px;
	}

	.swiper-wrapper {
		min-height: calc(100vh - 82px);
		display: flex;

		@include mobile {
			min-height: 400px;
		}

		.swiper-slide {
			min-height: calc(100vh - 82px);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			display: inline-flex;
			width: 100%;
			position: relative;

			@include mobile {
				min-height: 400px;
			}

			&:before {
				display: block;
				position: absolute;
				content: '';
				height: 173px;
				bottom: 0;
				left: 0;
				width: 100%;
				background: rgba(0,0,0,0); /* Old browsers */
				background: -moz-linear-gradient(top, rgba(0,0,0,.0) 0%, rgba(0,0,0,.7) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, rgba(0,0,0,.0) 0%,rgba(0,0,0,.7) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, rgba(0,0,0,.0) 0%,rgba(0,0,0,.7) 100%);
			}
			.heading {
				font-size: 49px;
				font-family: $medium;
				line-height: 63px;
				letter-spacing: 1px;
				max-width: 800px;
				margin: auto;
				padding: 100px 40px;
				text-align: center;
				position: relative;
				z-index: 2;

				@include mobile {
					font-size: 36px;
					line-height: 49px;
					padding: 80px 40px;
				}
			}
		}
	}
	.swiper-button-prev {
		position: absolute;
		width: 60px;
		height: 60px;
		right: 150px;
		cursor: pointer;
		bottom: 40px;
		margin-top: 0;
		top: auto;
		left: auto;
		background: none;
		z-index: 2;

		@include mobile {
			right: 80px;
			bottom: 20px;
		}

		&:before {
			display: block;
			position: absolute;
			line-height: 60px;
			text-align: center;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			color: #fff;
			font-size: 16px;
			transition: color 300ms, transform 300ms;
			transform: translate3d(0,0,0);
		}
		&:hover {

			@include no_touch {

				&:before {
					transform: translate3d(-5px,0,0);
					color: $blue;
				}
			}
		}
	}
	.swiper-button-next {
		position: absolute;
		width: 60px;
		height: 60px;
		right: 90px;
		cursor: pointer;
		bottom: 40px;
		margin-top: 0;
		top: auto;
		background: none;
		z-index: 2;

		@include mobile {
			right: 20px;
			bottom: 20px;
		}

		&:before {
			display: block;
			position: absolute;
			line-height: 60px;
			text-align: center;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			color: #fff;
			font-size: 16px;
			transition: color 300ms, transform 300ms;
			transform: translate3d(0,0,0);
		}
		&:hover {

			@include no_touch {

				&:before {
					transform: translate3d(5px,0,0);
					color: $blue;
				}
			}
		}
	}
}
section.three_images {
	overflow: hidden;

	.wrapper {
		display: flex;

		@include mobile {
			display: block;
		}

		.left,
		.right {
			display: inline-block;
			vertical-align: top;
			width: 50%;

			@include mobile {
				display: block;
				width: 100%;
			}
		}
	}
	.top_img {
		opacity: .3;
		width: calc(100% - 46px);
		height: 346px;
		margin-top: -173px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	.bottom_img {
		width: calc(100% - 84px);
		transform: translate3d(130px,0,0);

		@include mobile {
			width: 50vw;
			transform: translate3d(0,0,0);
			float: right;
			margin-right: -40px;
		}
	}
	h2 {
		padding-top: 138px;
		padding-bottom: 74px;
		position: relative;

		@include mobile {
			padding-top: 90px;
			padding-bottom: 20px;
		}

		&:before {
			display: block;
			position: absolute;
			width: 60px;
			left: -30px;
			height: 2px;
			background: $blue;
			content: '';
			top: 68px;

			@include mobile {
				top: 45px;
			}
		}
	}
	.right img {
		width: calc(100% - 192px);
		margin-left: 192px;
		margin-top: 120px;

		@include mobile {
			width: 100%;
			margin-left: 0;
			margin-top: 20px;
		}
	}
}
section.book_options {
	padding: 80px 0;

	@include mobile {
		padding: 50px 0;
	}

	.wrapper {
		display: flex;
		justify-content: space-around;

		@include mobile {
			display: block;
		}
	}
	.book_option {
		display: inline-block;
		vertical-align: top;
		width: 183px;

		@include mobile {
			display: block;
			margin-bottom: 40px;
		}
		
		.name {
			font-size: 21px;
			font-family: $medium;
			margin-bottom: 20px;
			line-height: 150%;
		}
		.price {
			margin-bottom: 15px;
			font-size: 31px;
			font-family: $medium;
		}
	}
}
.way_page {

	section.book_options {
		padding-top: 110px;

		@include mobile {
			padding-top: 40px;
		}
	}
}
section.long_image {
	position: relative;
	min-height: 113vw;

	.img {
		width: 50%;
		height: 113vw;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
		top: 0;
		left: 0;
	}
	@include mobile {

		img.mobile_only {
			margin: 0 auto;
			width: 100%;
			height: auto;
			position: static;
			display: block;
		}
	}

	.texts {
		min-height: 113vw;
		padding-left: 50%;
		display: flex;
		flex-direction: column;

		@include mobile {
			display: block;
			padding-left: 0;
			min-height: 0;
		}

		.top_text,
		.bottom_text {
			padding: 50px 0;
			height: 50%;
			display: flex;
			flex-grow: 1;
			flex-direction: column;
			justify-content: center;

			@include mobile {
				display: block;
				height: auto;
			}

			.text {
				margin-top: 20px;
			}
		}
		.top_text {

			h2 {
				position: relative;

				&:before {
					display: block;
					position: absolute;
					content: '';
					background: $blue;
					top: -62px;
					height: 2px;
					width: 60px;
					left: -30px;	

					@include mobile {
						top: -35px;
					}
				}
			}
		}
	}
}
section.half_picture {
	position: relative;
	min-height: 56vw;

	@include mobile {
		min-height: 0;
	}

	img {
		width: 50%;
		position: absolute;
		right: 0;
		top: 0;

		@include mobile {
			position: static;
			width: 100%;
			display: block;
			margin: 0 auto;
		}
	}
	.wrapper {
		position: relative;
		z-index: 2;
		min-height: 56vw;

		@include mobile {
			min-height: 0;
		}
	}
	.left {
		width: 50%;
		min-height: 56vw;
		display: flex;

		@include mobile {
			min-height: 0;
			display: block;
			width: 100%;
		}

		.center {
			margin: auto 0;
			padding-top: 50px;
			padding-bottom: 50px;

			@include mobile {
				padding-bottom: 30px;
			}
		}
	}
	.text {
		margin-top: 20px;
	}
}
section.half_picture_reverse {
	@extend section.half_picture;
	min-height: calc(56vw - 100px);

	@include mobile {
		min-height: 0;
	}

	img {
		right: auto;
		left: 0;
		width: calc(50% - 100px);

		@include mobile {
			width: calc(100vw - 40px);
			margin: 0;
		}
	}
	.wrapper {
		min-height: calc(56vw - 100px);

		@include mobile {
			min-height: 0;
		}
	}
	.left {
		width: 100%;
		padding-left: 50%;
		min-height: calc(56vw - 100px);

		@include mobile {
			padding-left: 0;
			min-height: 0;

			.center {
				padding-bottom: 0;
			}
		}
	}
}
section.picture_text {
	@extend section.half_picture;
	min-height: calc(42.1vw - 100px);
	padding: 75px 0;

	@include mobile {
		padding: 0 0 20px 0;
		position: relative;
	}

	img {
		right: auto;
		left: 0;
		width: calc(50% - 100px);
		top: 145px;

		@include mobile {
			width: calc(100vw - 100px);
			margin: 0;
		}
	}
	.wrapper {
		min-height: calc(42.1vw - 100px);

		@include mobile {
			min-height: 0;
		}
	}
	.left {
		width: 100%;
		padding-left: 50%;
		min-height: calc(42.1vw - 100px);

		@include mobile {
			min-height: 0;
			padding-left: 0;

			.center {
				padding-top: 20px;
			}
		}
	}
	.right_img {
		width: auto;
		position: absolute;
		top: 50%;
		right: auto;
		left: calc(100% - 67px);
		height: calc(42.1vw - 160px);
		margin-top: calc((42.1vw - 160px) / -2);

		@media screen and (max-width: 1410px) {
			display: none;
		}
	}
	@include mobile {

		.right_img_mobile {
			height: calc((100vw - 100px) * 0.8 - 30px);
			position: absolute;
			top: 15px;
			right: 0;
			left: 100%;
			transform: translate3d(-30px,0,0);
			width: auto;
		}
	}
}
section.text_image.type_4 {
	@extend section.text_image.type_3;

	.img_1 {
		left: auto;
		right: 0;

		@include mobile {
			width: 215px;
			height: 257px;
			margin-left: calc(100vw - 215px);
		}
	}
	.text_block {
		padding-left: 0;
		width: 50%;

		@include mobile {
			width: 100%;

			.text {
				margin-bottom: 20px;
			}
		}
	}
}
section.two_images.type_2 {
	padding-top: 120px;

	@include mobile {
		padding-top: 40px;
	}

	.wrapper {
		display: flex;

		@include mobile {
			display: block;
		}
	}
	.left, 
	.right {
		width: 50%;
		display: inline-block;
		vertical-align: top;

		@include mobile {
			display: block;
			width: 100%;
		}
	}
	.left {

		img {
			width: calc(100% - 146px);

			@include mobile {
				width: calc(100vw - 100px);
				margin-left: -40px;
			}
		}
	}
	.right {

		img {
			width: calc(100% - 76px);
			margin-left: -60px;

			@include mobile {
				width: calc(100vw - 40px);
				margin-left: 0;
				margin-right: -40px;
			}
		}
	}
	h2 {
		position: relative;
		padding: 185px 0 62px;

		@include mobile {
			padding-top: 90px;
			padding-bottom: 25px;
		}

		&:before {
			display: block;
			position: absolute;
			content: '';
			background: $blue;
			top: 123px;
			height: 2px;
			width: 60px;
			left: -30px;	

			@include mobile {
				top: 49px;
			}
		}
	}
}
section.text_image.type_5 {
	@extend section.text_image.type_4;
	min-height: 567px;
	padding-bottom: 0;

	@include mobile {
		padding-bottom: 40px;
	}

	.wrapper {
		min-height: 567px;
		display: flex;

		@include mobile {
			display: block;
			min-height: 0;
		}
	}
	.text_block {
		padding: 70px 0;
		margin: auto 0;

		@include mobile {
			margin: 0;
			padding-top: 90px;
			padding-bottom: 35px;
		}

		.text {
			margin-bottom: 0;
		}
	}
	&.reverse {
		padding-top: 200px;

		@include mobile {
			padding-top: 0;
			display: flex;
			flex-wrap: wrap;
		}

		.wrapper {
			position: relative;

			@include mobile {
				order: 1;
			}
		}
		.img_1 {
			top: 200px;
			right: auto;
			left: 0;

			@include mobile {
				order: 2;
				margin-left: 0;
				width: calc(100vw - 40px);
				height: calc(100vw - 40px);
			}
		}
		.text_block {
			padding-left: 50%;
			width: 100%;

			@include mobile {
				padding-left: 0;
			}
		}
		.top_img {
			opacity: .3;
			right: 40px;
			width: calc(50% - 46px);
			height: 346px;
			margin-top: -413px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			position: absolute;
		}
	}
}
section.two_images.type_3 {
	@extend section.two_images.type_2;
	padding-top: 0;
	padding-bottom: 75px;
	position: relative;
	
	@include mobile {
		padding-bottom: 100px;
	}
	.wrapper {
		transform: translate3d(0,-50px,0);

		@include mobile {
			transform: translate3d(0,0,0);
		}
	}
	h2 {

		&:before {
			display: none;
		}
		@include mobile {
			padding-top: 0;
			padding-bottom: 35px;
		}
	}
	.left {
		padding-bottom: 392px;

		@include mobile {
			padding-bottom: 35px;
		}
	}
	.invisible_img {
		position: absolute;
		opacity: .3;
		left: 0;
		bottom: 0;
		width: 215px;
		height: 250px;
		overflow: hidden;

		@include mobile {
			display: none;
		}

		img {
			min-width: 100%;
			min-height: 100%;
			top: 0;
			right: 0;
		}
	}
	&.reverse {
		padding-bottom: 0;

		.left {

			img {
				float: right;
				
				@include mobile {
					float: none;
					width: 100%;
					margin-left: 0;
				}
			}
		}
		.right {

			img {
				margin-left: 0;
				margin-right: -60px;
				float: right;

				@include mobile {
					float: none;
					width: 50vw;
					margin-left: calc(50vw - 40px);
					margin-right: 0;
					margin-bottom: 30px;
				}
			}
		}
	}
}