section.text_heading {
	padding: 241px 0 108px;

	@include mobile {
		padding: 105px 0 40px;
	}
	h1 {
		max-width: 635px;
	}
	.wrapper {
		position: relative;
	}
	.date {
		opacity: .5;
		position: absolute;
		@include icon(date);
		line-height: 20px;
		padding-left: 36px;
		font-size: 15px;
		font-family: $normal;
		top: 13px;
		right: 40px;

		@include mobile {
			position: relative;
			right: auto;
			top: auto;
			margin-top: 35px;
		}

		&:before {
			display: block;
			position: absolute;
			left: 0;
			color: #000;
			line-height: 20px;
			font-size: 20px;
			top: -2px;
		}
	}
}
section.book_blocks {
	
	.book_block {
		position: relative;
		margin-bottom: 170px;

		@include mobile {
			margin-bottom: 50px;
		}
		.center {
			margin: auto 0;
		}
		.gallery {
			width: 50%;
			min-height: 45vw;
			height: 100%;
			margin: 0;
			cursor: grab;
			position: absolute;

			@include mobile {
				position: static;
				min-height: 0;
				width: calc(100vw - 40px);
				height: calc(100vw - 40px);
				margin-bottom: 20px;
			}

			.swiper-wrapper {
				height: 100%;
				width: 50%;

				.swiper-slide {
					height: 100%;
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;
					display: inline-block;
				}
			}
			.swiper-button-prev {
				position: absolute;
				width: 60px;
				height: 60px;
				right: 150px;
				cursor: pointer;
				bottom: 40px;
				margin-top: 0;
				top: auto;
				left: auto;
				background: none;

				@include mobile {
					bottom: 20px;
					left: auto;
					right: 80px;
				}

				&:before {
					display: block;
					position: absolute;
					line-height: 60px;
					text-align: center;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					color: #fff;
					font-size: 16px;
					transition: color 300ms, transform 300ms;
					transform: translate3d(0,0,0);
				}
				&:hover {

					@include no_touch {

						&:before {
							transform: translate3d(-5px,0,0);
							color: $blue;
						}
					}
				}
			}
			.swiper-button-next {
				position: absolute;
				width: 60px;
				height: 60px;
				right: 90px;
				cursor: pointer;
				bottom: 40px;
				margin-top: 0;
				top: auto;
				background: none;

				@include mobile {
					bottom: 20px;
					left: auto;
					right: 20px;
				}

				&:before {
					display: block;
					position: absolute;
					line-height: 60px;
					text-align: center;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					color: #fff;
					font-size: 16px;
					transition: color 300ms, transform 300ms;
					transform: translate3d(0,0,0);
				}
				&:hover {

					@include no_touch {

						&:before {
							transform: translate3d(5px,0,0);
							color: $blue;
						}
					}
				}
			}
		}
		.text_block {
			display: inline-flex;
			flex-direction: column;
			justify-content: center;
			vertical-align: top;
			min-height: 45vw;
			padding-left: calc(50% + 100px);

			@include mobile {
				padding-left: 0;
				display: block;
			}

			h2 {
				margin-bottom: 20px;
			}
			.text {
				margin-bottom: 25px;
			}
			.extras {
				margin-bottom: 25px;

				.extra {
					position: relative;
					padding: 2px 0 2px 33px;

					&:before {
						display: block;
						position: absolute;
						color: rgba(0,0,0,.3);
						width: 22px;
						text-align: left;
						height: 30px;
						left: 0;
						line-height: 30px;
						top: 0;
					}
					&.icon_weight {

						&:before {
							font-size: 22px;
						}
					}
					&.icon_ruller {

						&:before {
							font-size: 12px; 
						}
					}
					&.icon_size {

						&:before {
							font-size: 17px;
						}
					}
					&.icon_isbn {

						&:before {
							font-size: 16px;
						}
					}
				}
			}
			.list {
				display: block;
				padding: 0;
				margin: 0;
				margin-bottom: 25px;
				list-style-type: none;

				li {
					display: block;
					position: relative;
					padding: 2px 0 2px 33px;
					@include icon(check);

					&:before {
						display: block;
						position: absolute;
						color: rgba(0,0,0,.3);
						width: 22px;
						text-align: left;
						height: 30px;
						left: 0;
						line-height: 30px;
						top: 0;
						font-size: 13px;
					}
				}
			}
			.price {
				margin-top: 17px;
				margin-bottom: 17px;
				font-size: 31px;
				font-family: $medium;
			}
		}
		&:last-child {
			margin-bottom: 0;
		}
		&:nth-child(even) {

			.gallery {
				right: 0;

				@include mobile {
					margin-left: 40px;

					.swiper-button-prev {
						right: auto;
						left: 20px;
					}
					.swiper-button-next {
						right: auto;
						left: 80px;
					}
				}
			}
			.text_block {
				padding-left: 0;
				padding-right: 100px;
				width: 50%;

				@include mobile {
					padding-right: 0;
					width: 100%;
				}
			}
		}
	}
}
section.heading {
	padding: 125px 0;

	@include mobile {
		padding: 40px 0;
	}
	.wrapper {
		max-width: 800px;
		font-size: 49px;
		font-family: $medium;
		line-height: 63px;
		text-align: center;

		@include mobile {
			font-size: 36px;
			line-height: 49px;
			text-align: left;
		}
	}
}
section.text_image.type_2 {
	padding-bottom: 95px;
	min-height: 863px;
	position: relative;

	@include mobile {
		padding-bottom: 60px;
		min-height: 0;
	}

	.img_1 {
		width: 50%;
		height: 768px;
		position: absolute;
		top: 0;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		left: 0;

		@include mobile {
			width: calc(100vw - 40px);
			position: static;
			height: calc((100vw - 40px) * 1.14);
		}
	}
	.text_block {
		padding-left: calc(50% + 100px);
		padding-top: 100px;

		@include mobile {
			padding-top: 20px;
			padding-left: 0;
		}

		h2 {
			margin-bottom: 20px;
		}
		.text {
			margin-bottom: 100px;

			@include mobile {
				margin-bottom: 40px;
			}
		}
		img {
			width: 100%;
		}
	}
}
section.two_columns {
	padding-bottom: 114px;

	@include mobile {
		padding-bottom: 40px;
	}
	.heading {
		max-width: 720px;
		font-size: 49px;
		font-family: $medium;
		line-height: 63px;
		text-align: left;
		margin-bottom: 49px;

		@include mobile {
			font-size: 36px;
			line-height: 49px;
			margin-bottom: 20px;
		}
	}
	.columns {
		columns: 2;
		column-width: calc(100% - 46px);
		column-gap: 92px;

		@include mobile {
			columns: auto auto;
		}
	}
}
section.video {

	.video_holder {
		padding-top: 56%;
		position: relative;
		width: 100%;
		max-height: calc(100vh - 82px);
		overflow: hidden;
		transition: height 300ms;

		iframe {
			display: block;
			width: 100%;
			transition: height 300ms;
			position: absolute;
			height: 100%;
			top: 0;
			left: 0;
		}	
		.poster {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 1;
			cursor: pointer;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			transition: opacity 300ms, height 300ms;

			&:before {
				display: block;
				position: absolute;
				z-index: 1;
				content: '';
				width: 100px;
				height: 100px;
				border-radius: 50%;
				background: #fff;
				top: 50%;
				left: 50%;
				margin-top: -50px;
				margin-left: -50px;
				transition: background 300ms;

				@include mobile {
					width: 60px;
					height: 60px;
					margin-left: -30px;
					margin-top: -30px;
				}
			}
			&:after {
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 4.5px 0 4.5px 9px;
				border-color: transparent transparent transparent #0004fc;
				margin-top: -4px;
				margin-left: -4px;
				top: 50%;
				left: 50%;
				display: block;
				position: absolute;
				content: '';
				transition: border-color 300ms;
				z-index: 2;
			}
			&:hover {

				@include no_touch {

					&:before {
						background: $blue;
					}
					&:after {
						border-color: transparent transparent transparent #fff;
					}
				}
			}
			&.gone {
				opacity: 0;
				pointer-events: none;
			}
		}
	}
}
section.two_images.type_1 {

	.wrapper {
		font-size: 0;

		> * {
			font-size: 15px;
		}
		.img_1 {
			display: inline-block;
			vertical-align: top;
			width: calc(57% - 50px);
			margin-right: 100px;

			@include mobile {
				display: block;
				width: 100%;
				margin-right: 0;
				margin-bottom: 34px;
			}
		}
		.img_2 {
			display: inline-block;
			vertical-align: top;
			width: calc(43% - 50px);

			@include mobile {
				display: block;
				width: calc(100% - 62px);
				margin-right: 0;
				margin-left: 62px;
			}
		}
	}
}
section.three_columns {
	padding: 115px 0;

	@include mobile {
		padding: 40px 0;
	}
	.wrapper {
		display: flex;

		@include mobile {
			display: block;
		}
	}
	.heading {
		width: calc(33.33% - 62px);
		font-size: 49px;
		font-family: $medium;
		line-height: 63px;
		text-align: left;
		display: inline-block;
		vertical-align: top;
		margin-right: 92px;

		@include mobile {
			font-size: 36px;
			line-height: 49px;
			width: 100%;
			margin-right: 0;
			margin-bottom: 30px;
		}
	}
	.columns {
		display: inline-block;
		vertical-align: top;
		columns: 2;
		column-width: calc(50% - 46px);
		column-gap: 92px;

		@include mobile {
			columns: auto auto;
			display: block;
		}
	}
}
section.categories {

	.boxes {
		height: 288px;
		bottom: 0;
		display: flex;

		@include mobile {
			height: auto;
			display: block;
		}

		.box {
			flex-grow: 1;
			overflow: hidden;
			vertical-align: top;
			height: 288px;
			width: 33.33%;
			cursor: pointer;
			text-decoration: none;
			color: #fff;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			position: relative;
			padding-top: 68px;

			@include mobile {
				display: block;
				width: 100%;
				height: 190px;
			}

			&:before {
				display: block;
				position: absolute;
				content: '';
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background: rgba(0,0,0,0); /* Old browsers */
				background: -moz-linear-gradient(top, rgba(0,0,0,.4) 0%, rgba(0,0,0,.8) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, rgba(0,0,0,.4) 0%,rgba(0,0,0,.8) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, rgba(0,0,0,.4) 0%,rgba(0,0,0,.8) 100%);
			}
			.name {
				text-transform: uppercase;
				font-weight: $bold;
				font-size: 12px;
				letter-spacing: 1px;
				position: relative;
				transition: transform 500ms;
				transform: translate3d(0,76px,0);
				z-index: 2;
				max-width: 260px;
				margin: 0 auto 25px;

				@include mobile {
					transform: translate3d(0,47px,0);
					max-width: 100%;
					padding-left: 40px;
					padding-right: 40px;
				}
				&:before {
					display: block;
					position: absolute;
					width: 40px;
					content: '';
					left: 0;
					top: 32px;
					height: 2px;
					background: #fff;
					opacity: .3;
					transform: translate3d(0,0,0);
					transition: opacity 500ms, width 500ms;

					@include mobile {
						left: 40px;
					}
				}
			}
			.content {
				color: #fff;
				opacity: 0;
				font-size: 15px;
				font-weight: $normal;
				line-height: 155%;
				transition: opacity 500ms, transform 500ms;
				transform: translate3d(0,76px,0);
				z-index: 2;
				max-width: 260px;
				margin: 0 auto;
				overflow: hidden;
				height: 94px;

				@include mobile {
					display: none;
				}
			}
			&:hover {

				@include no_touch {

					.name {
						transform: translate3d(0,0,0);

						&:before {
							transform: translate3d(0,0,0);
							opacity: 1;
							width: 60px;
						}
					}
					.content {
						transform: translate3d(0,0,0);
						opacity: .5;
					}
				}
			}
		}
	}
}