.button {

	&.blue,
	&.ghost {
		display: inline-block;
		vertical-align: top;
		background: $blue;
		font-family: $bold;
		font-size: 12px;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		height: 42px;
		line-height: 24px;
		padding: 9px 30px;
		text-align: center;
		cursor: pointer;
		user-select: none;
		border-radius: 20px;
	    overflow: hidden;
	    position: relative;

	    @include mobile {
			padding: 9px 15px;
	    }
		// &:before {
		// 	content: '';
		// 	position: absolute;
		// 	width: calc(100% - 4px);
		// 	height: calc(100% - 4px);
		// 	top: 2px;
		// 	left: 2px;
		// 	transition: transform 0.3s;
		// 	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
		// 	background: #74aae8;
		// 	border-radius: 20px;
		// 	transform: translate3d(0, 120%, 0);
		// }
		&:after {
			content: '';
			position: absolute;
			width: calc(100% - 4px);
			height: calc(100% - 4px);
			top: 2px;
			left: 2px;
			transition: transform 0.3s;
			transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
			background: #fff;
			border-radius: 20px;
			transform: translate3d(0, -120%, 0);
		}
		span {
			position: relative;
			padding-right: 15px;
			z-index: 1;
			transition: color 0.3s;
			color: #fff;

			&:before {
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 3px 0 3px 6px;
				border-color: transparent transparent transparent #ffffff;
				content: '';
				display: block;
				position: absolute;
				right: 0;
				top: 50%;
				transition: border-color 0.3s;
				margin-top: -3px;
			}
		}
		&:hover {

			@include no_touch {

				span {
					color: $blue;

					&:before {
						border-color: transparent transparent transparent $blue;
					}
				}
				// &:before {
			 // 		transform: translate3d(0, 0, 0);
				// }
				&:after {
			        transform: translate3d(0, 0, 0);
				}
			}
		}
		&.with_states {
			width: 100%;
			position: relative;

			span {
				position: absolute;
				width: 100%;
				text-align: center;
				left: 0;
				top: 9px;
				transition: transform 300ms, color 300ms;
				padding-right: 0;

				&:before {
					display: none;
				}
				&.simple {
					transform: translate3d(0,0,0);
				}
				&.success {
					transform: translate3d(0,42px,0);
				}
			}
			&.success {

				span {

					&.simple {
						transform: translate3d(0,-42px,0);
					}
					&.success {
						transform: translate3d(0,0,0);
					}
				}
			}
		} 
	}
	&.raw {
		display: inline-block;
		vertical-align: top;
		font-family: $bold;
		font-size: 12px;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		height: 42px;
		line-height: 24px;
		padding: 9px 20px 9px 0;
		position: relative;
		text-align: center;
		cursor: pointer;
		user-select: none;
		color: $blue;
		transition: text-decoration 300ms;
		cursor: pointer;

		&:after {
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 2.5px 0 2.5px 5px;
			border-color: transparent transparent transparent #007bff;
			margin-top: -3px;
			top: 50%;
			right: 0;
			display: block;
			position: absolute;
			content: '';
			z-index: 2;
			transition: transform 300ms;
			transform: translate3d(0,0,0);
		}
		&:hover {
			text-decoration: underline;

			@include no_touch {
				
				&:after {
					transform: translate3d(5px,0,0);
				}
			}
		}
	}
	&.ghost {
		background: #fff;
		border: 2px solid $blue;
		padding-top: 7px;

		&:after {
			background: $blue;
		}
		span {
			color: $blue;

			&:before {
				    border-color: transparent transparent transparent $blue;
			}
		}
		&:hover {

			@include no_touch {

				span {
					color: #fff;

					&:before {
						border-color: transparent transparent transparent #fff;
					}
				}
			}
		}
	}
	&.fb,
	&.google {
		width: 100%;
	}
}