.cart_page {

	.cart_empty {
		display: none;
		font-size: 49px;
		font-family: $medium;
		line-height: 63px;
		letter-spacing: 1px;
		padding-bottom: 66px;
	}
}
section.cart {
	width: 50%;

	@include mobile {
		width: 100%;
	}

	.product {
		min-height: 200px;
		position: relative;
		padding-left: 150px;
		display: flex;
		align-items: center;

		@include mobile {
			display: block;
			padding-left: 83px;
			min-height: 0;
		}

		&:before {
			display: block;
			position: absolute;
			top: 0;
			content: '';
			z-index: 2;
			width: 100%;
			left: 0;
			border-bottom: 2px solid $grey;
		}
		&:last-child {

			&:after {
				display: block;
				width: 100%;
				position: absolute;
				bottom: 0;
				content: '';
				z-index: 2;
				left: 0;
				border-bottom: 2px solid $grey;
			}
		}
		img {
			position: absolute;
			width: 196px;
			left: -43px;
			top: 0;

			@include mobile {
				width: 141px;
				left: -28px;
				top: -5px;
			}
		}
		> * {
			flex-grow: 1;
			padding: 20px 34px 20px 0;
		}
		.quantity {
			display: inline-flex;
			align-items: center;

			@include mobile {
				position: relative;
				z-index: 2;
				display: flex;
				padding-top: 0;
				padding-bottom: 0;
			}

			.plus,
			.minus {
				font-size: 20px;
				color: #707070;
				padding: 15px;
				cursor: pointer;
				transition: color 300ms;
				user-select: none;

				&:hover {

					@include no_touch {
						color: #000;
					}
				}
			}
			.plus {
				padding-right: 0;
			}
			.minus {
				padding-left: 0;
			}
			input {
				width: 34px;
				height: 34px;
				border: 2px solid $grey;
				border-radius: 2px;
				text-align: center;
			}
		}
		.price {
			font-size: 17px;
			font-family: $medium;

			@include mobile {
				display: block;
				padding-top: 0;
			}
		}
		.name {
			display: block;
			padding-bottom: 0;
		}
		.remove {
			min-width: 28px;
			min-height: 28px;
			cursor: pointer;
			position: relative;
			@include icon(close);
			padding: 0;

			@include mobile {
				position: absolute;
				right: 0;
				top: 17px;
			}

			&:before {
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				text-align: right;
				width: 100%;
				height: 100%;
				line-height: 28px;
				padding-right: 8px;
				font-size: 12px;
				opacity: .3;
				transition: opacity 300ms;
			}
			&:hover {

				@include no_touch {

					&:before {
						opacity: 1;
					}
				}
			}
		}
	}
}
section.pay {
	display: block;
	padding-left: 100px;
	width: 50%;
	text-align: center;

	&:not(.fixed) {
		width: 50% !important;

		@include mobile {
			width: calc(100% + 80px) !important;
		}
	}
	&.fixed {

		@media screen and (min-width: 1001px) and (max-width: 1180px) {
			position: fixed;
			top: 82px;
			width: calc((100vw - 80px) / 2 - 100px) !important;
			padding-left: 0;
		}
		@media screen and (min-width: 1181px) {
			position: fixed;
			top: 82px;
			width: 450px;
			padding-left: 0;
		}
	}
	@include mobile {
		margin-top: 50px;
		padding-left: 0;
		width: calc(100% + 80px) !important;
		margin-left: -40px;
	}
	
	.content {
		background: #F1F1F1;
		padding: 20px 30px;
	}
	.line {
		padding: 6px 0;
		opacity: .5;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&.main {
			padding: 14px 0 20px;
			opacity: 1;
			font-size: 31px;
			font-family: $medium;
		}
	}
	.button {
		
		&.blue {
			margin-bottom: 12px;
			display: block;

			&:after {
				background: #F1F1F1;
			}
			&:before {
				background: #78a2d1;
			}
		}
	}
}