.checkout_page {
	position: relative;

	.logo {
		width: 100%;
		position: absolute;
		text-align: center;
		color: #000;
		letter-spacing: 1px;
		text-transform: uppercase;
		text-decoration: none;
		font-family: $bold;
		top: 92px;

		@include mobile {
			top: 47px;
		}
	}
	h2 {
		margin-bottom: 20px;
	}
	form {

	}
}
section.steps {
	display: block;
    max-width: 1180px;
    padding: 0 40px;
    margin: 0 auto 60px;
    text-align: center;
    font-size: 0;
    position: relative;

    @include mobile {
    	margin-bottom: 0;
    }

    &:before {
		display: block;
		position: absolute;
		content: '';
		background: #E4EEF9;
		height: 2px;
		width: 660px;
		left: 50%;
		margin-left: -330px;
		top: 20px;

		@include mobile {
			width: 180px;
			margin-left: -90px;
		}
    }
    .step {
    	width: 100px;
    	margin: 0 60px;
    	position: relative;
    	display: inline-block;
    	vertical-align: top;
    	padding: 54px 10px 10px 10px;
    	color: rgba(#005FCB, .3);
    	font-size: 11px;
    	font-family: $medium;
    	z-index: 2;
    	@include icon(check);

    	@include mobile {
    		margin: 0;
    		font-size: 0;
    		padding-left: 0;
    		padding-right: 0;
    		width: 59px;
    	}

    	&:first-child {
    		margin-left: 0;

    		&:after {
				content: '1';
			}
    	}
    	&:nth-child(2) {
			
			&:after {
				content: '2';
			}
    	}
    	&:nth-child(3) {
    		
    		&:after {
				content: '3';
			}
    	}
    	&:last-child {
    		margin-right: 0;

    		&:after {
				content: '4';
			}
    	}
    	&:after {
    		display: block;
    		position: absolute;
    		height: 42px;
    		width: 42px;
    		border-radius: 50%;
    		background: #E4EEF9;
			left: 50%;
			margin-left: -21px;
			color: $blue;
			line-height: 42px;
			top: 0;
			font-size: 11px;
    	}
    	&:before {
    		display: block;
    		position: absolute;
    		height: 42px;
    		width: 42px;
    		border-radius: 50%;
    		background: #E4EEF9;
			left: 50%;
			margin-left: -21px;
			color: $blue;
			line-height: 42px;
			top: 0;
			font-size: 8px;
			z-index: 2;
    	}
    	&.active {
			color: $blue;

			&:after {
				background: $blue;
				color: #fff;
			}
    		&:before {
    			display: none;
    		}
    		~ .step {

				&:before {
	    			display: none;
	    		}
    		}
    	}
    }
}
section.checkout {
	width: 50%;

	@include mobile {
		width: 100%;
	}

	.line {
		font-size: 0;

		> * {
			font-size: 15px;
			display: inline-block;
			vertical-align: top;
			width: calc(50% - 8px);

			&:nth-child(odd) {
				margin-right: 16px;
			}
			@include mobile {
				width: 100%;

				&:nth-child(odd) {
					margin-right: 0;
				}
			}
		}
		&.delivery_line {
			display: flex;
			flex-wrap: wrap;
		}
	}
	.text {
		margin-bottom: 30px;

		a {
			text-decoration: none;
			color: $blue;

			&:hover {

				@include no_touch {
					text-decoration: underline;
				}
			}
		}
	}
	.checkbox {
		margin-bottom: 15px;
		display: block;

		a {
			text-decoration: none;
			color: $blue;

			&:hover {

				@include no_touch {
					text-decoration: underline;
				}
			}
		}
	}
	.company_toggler,
	.register_toggler {
		display: none;
	}
	.delivery_type {
		cursor: pointer;
		margin-top: 15px;
		margin-bottom: 15px;
		
		.content {
			position: relative;
			border: 2px solid $grey;
			transition: border-color 300ms;
			border-radius: 3px;
			display: block;
			min-height: 100%;
			padding: 25px 20px 20px 120px;

			img {
				max-width: 88px;
				max-height: 40px;
				height: auto;
				width: auto;
				margin: auto;
			}
			.img_holder {
				position: absolute;
				display: flex;
				width: 120px;
				height: 100%;
				top: 0;
				left: 0;
			}
		}
		.price {
			display: block;
			font-size: 21px;
			font-family: $medium;
			line-height: 1;
			transition: color 300ms;
		}
		.comment {
			font-size: 11px;
			opacity: .5;
			transition: color 300ms;
		}
		input {
			visibility: hidden;
			opacity: 0;
			pointer-events: none;
			position: absolute;

			&:checked {

				+ .content {
					border-color: $blue;

					.price {
						color: $blue;
					}
					.comment {
						color: $blue;
					}
				}
			}
		}
	}
	.pay_type {
		font-family: $medium;
		margin-top: 30px;
		margin-bottom: 8px;
	}
	.pay_selection {
		
		.bank_name {
			display: inline-block;
		}
		.radio {
			display: block;

			.name {
			    padding: 8px 0 8px 25px;
			    display: flex;
				align-items: center;
				justify-content: space-between;
		
			    &:before {
			    	left: 5px;
			    	top: 50%;
			    	margin-top: -5px;
			    }
			    &:after {
			    	left: 0;
			    	margin-top: -10px;
			    	top: 50%;
			    }
			}
			.img_holder {
				height: auto;
				float: right;
				display: inline-flex;
				vertical-align: middle;
				width: 104px;

				@include mobile {
					width: 80px;
				}
			}
			img {
				width: auto;
				height: auto;
				max-width: 104px;
				max-height: 32px;
				margin: auto;

				@include mobile {
					max-width: 80px;
				}
			}
		}
	}
	.smaller_wrap {
		padding-right: 100px;

		@include mobile {
			padding-right: 0;
		}

		.button	{
			margin-bottom: 20px;

			&.fb {
				background: #3B5898;

				span {
					padding-right: 0;

					&:before {
						display: none;
					}
				}
			}
			&.google {
				background: #DE4B39;

				span {
					padding-right: 0;

					&:before {
						display: none;
					}
				}
				&:before {
					background: #EE8D82;
				}
				&:hover {

					@include no_touch {

						span {
							color: #DE4B39;
						}
					}
				}
			}
		}
	}
	.or {
		margin-bottom: 20px;
		text-align: center;
		opacity: .5;
	}
}