.radio {
	display: inline-block;
	vertical-align: top;
	min-height: 25px;
	min-width: 25px;
	cursor: pointer;
	user-select: none;

	.name {
		padding-left: 25px;
		position: relative;
		display: block;
		min-height: 25px;

		&:after {
			display: block;
			left: 4px;
			top: 4px;
			width: 18px;
			height: 18px;
			content: '';
			border-radius: 50%;
			border: 2px solid $grey;
			position: absolute;
			transition: border-color 300ms;
		}
		&:before {
			display: block;
			position: absolute;
			border-radius: 50%;
			height: 8px;
			width: 8px;
			content: '';
			background: $blue;
			top: 9px;
			left: 9px;
			z-index: 2;
			transition: transform 300ms;
			transform: translate3d(0,0,0) scale(0);
		}
		img {
			width: 24px;
			margin-left: 4px;
		}
	}
	input {
		position: absolute;
		pointer-events: none;
		visibility: hidden;
		opacity: 0;

		&:checked {

			+ .name {

				&:before {
					transform: translate3d(0,0,0) scale(1);
				}
			}
		}
		&.error {
			
			+ .name {

				&:after {
					border-color: red;
				}
			}
		}
	}
}
.checkbox {
	@extend .radio;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: -15px;
	margin-bottom: -15px;

	.name {
		padding-left: 30px;
		@include icon(check);

		&:after {
			display: block;
			left: 0;
			top: 3px;
			width: 20px;
			height: 20px;
			content: '';
			border-radius: 0;
			border: 2px solid $grey;
			position: absolute;
		}
		&:before {
			display: block;
			position: absolute;
			border-radius: 50%;
			width: 20px;
			height: 20px;
			font-size: 8px;
			top: 3px;
			left: 1px;
			text-align: center;
			line-height: 20px;
			color: $blue;
			background: none;
			transition: transform 300ms;
			transform: translate3d(0,0,0) scale(0);
		}
	}
}