section.contacts {
	padding-top: 225px;
	overflow: hidden;
	position: relative;

	@include mobile {
		padding-top: 110px;
	}

	.wrapper {
		min-height: calc(100vh - 349px);

		@include tablet {
			min-height: calc(100vh - 498px);
		}
		@include mobile {
			min-height: 0;
		}
	}
	.left {
		width: 368px;
		display: inline-block;
		vertical-align: top;
		padding-right: 60px;
		padding-bottom: 60px;
		min-height: 100%;

		@include mobile {
			width: 100%;
			display: block;
			min-height: 0;
			padding-right: 0;
			padding-bottom: 30px;
		}
	}
	.right {
		width: calc(100% - ((100% - 1180px) / 2 + 408px));
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		position: absolute;
		min-height: calc(100% - 225px);
		right: 0;
		top: 225px;
		z-index: 2;

		@include wrapper {
			width: calc(100% - 368px);
		}
		@include mobile {
			position: static;
			width: 100%;
			height: 328px;
			right: auto;
			top: auto;
		}
	}
	h1 {
		margin-top: 0;
		margin-bottom: 30px;
	}
	.contacts {
		margin-bottom: 30px;

		a {
			display: block;
			text-decoration: none;
			cursor: pointer;
			color: $blue;

			&:hover {

				@include no_touch {
					text-decoration: underline;
				}
			}
		}
	}
	.text {
		opacity: .5;
		margin-bottom: 30px;
	}
	.socials {
		text-align: left;
		font-size: 0;
		margin-left: -13px;

		a {
			display: inline-block;
			vertical-align: top;
			width: 36px;
			height: 36px;
			cursor: pointer;
			text-decoration: none;
			margin-right: 29px;
			position: relative;

			&:before {
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				text-align: center;
				line-height: 36px;
				color: #000;
				opacity: .3;
				transition: opacity 300ms;
				font-size: 20px;
			}
			&:hover {

				@include no_touch {

					&:before {
						opacity: 1;
					}
				}
			}
		}
	}
}