html {
	height: 100%;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

table {
	border-collapse: collapse;
}

*, *:before, *:after {
	box-sizing: inherit;
}

* {
	margin: 0;
	padding: 0;
	outline: none;
}

td {
	vertical-align: top;
}

textarea {
	overflow: auto;
}

img {
	border: none;
	display: block;
}

map {
	display: none;
}

object, embed {
	display: block;
}

.wf {
	width: 100%;
}

.hf {
	height: 100%;
}

.whf {
	width: 100%;
	height: 100%;
}

.wh1 {
	width: 1px;
	height: 1px;
}

.posrel {
	position: relative;
}

.tar {
	text-align: right;
}

.tal {
	text-align: left;
}

.tac {
	text-align: center;
}

.taj {
	text-align: justify;
}

.ma {
	margin: auto;
}

.m0a {
	margin: 0 auto;
}

.curp {
	cursor: pointer;
}

.nowrap {
	white-space: nowrap;
}

.di {
	display: inline;
}

.dib {
	display: inline-block;
}

.dn {
	display: none;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.vat {
	vertical-align: top;
}

.vam {
	vertical-align: middle;
}

.vab {
	vertical-align: bottom;
}

.clr,.clear {
	clear: both;
}

.clrf {
	display: block!important;
	float: none!important;
	width: 1px!important;
	height: 1px!important;
	clear: both!important;
	padding: 0!important;
	margin: 0!important;
}
.cl:after {
	content: "";
	display: table;
	clear: both;
}
table.debug,.debug table {
	border: 1px dotted #CC3333;
	border-collapse: collapse;
}

td.debug,.debug td {
	border: 1px dotted #FF7769;
}

div.debug,.debug div {
	border: 1px dotted #3333CC;
}

span.debug,.debug span {
	border: 1px dotted #33CC33;
}

@media screen,handheld,projection,speech,tty,tv {
	.forPrint {
		display: none;
	}
}

@media print {
	.forScreen {
		display: none;
	}
}
// Invisible
.inv {
	display: fixed;
	left: -9999px;
	top: -9999px;
	visibility: hidden;
	z-index: -1;
}
// Unstyle
ul.uns {
	list-style: none;
}
input[type="text"] {   
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none; 
    border-radius: 0;
    border: none;
    box-shadow: none;
}