html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
main {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;

	&.stop {
		pointer-events: none;
	}
}
body {
	font-family: $normal;
	color: #000;
	position: relative;
	font-size: 15px;
	line-height: 175%;

	&.open {

		main {
			pointer-events: none;
		}
	}
}
.wrapper {
	max-width: 1180px;
	padding: 0 40px;
	margin: 0 auto;
}
.mb15 {
	margin-bottom: 15px;
}
h1 {
	font-size: 49px;
	font-family: $medium;
	line-height: 63px;
	letter-spacing: 1px;

	@include mobile {
		font-size: 36px;
		line-height: 49px;
	}
}
h2 {
	font-size: 31px;
	font-family: $medium;
	line-height: 130%;

	@include mobile {
		font-size: 27px;
	}
}
*::selection {
  background: rgba($blue, .4);
}
*::-moz-selection {
  background: rgba($blue, .4);
}
.page {
	min-height: calc(100vh - 124px);

	@include tablet {
	    min-height: calc(100vh - 273px);
	}
}
img.full {
	width: 100%;
	margin-bottom: 80px;

	@include mobile {
		margin-bottom: 40px;
	}
}
.dual_page {
	padding-top: 210px;
	padding-bottom: 60px;

	@include mobile {
		padding-top: 110px;
		padding-bottom: 40px;
	}

	.wrapper {
		display: flex;

		@include mobile {
			display: block;
		}
	}
	h1 {
		margin-top: 0;
		margin-bottom: 66px;

		@include mobile {
			margin-bottom: 40px;
		}
	}
	button {
		width: 100%;
	}
}
button {
	box-shadow: none;
	border: none;
}
.cookies_box {
	position: fixed;
	z-index: 30;
	bottom: 0;
	left: 0;
	background: #fff;
	transition: transform 300ms, opacity 300ms;
	transform: translate3d(0,0,0);

	&.gone {
		transform: translate3d(0,100%,0);
		opacity: 0;
	}
	.text,
	.button {
		display: inline-block;
		vertical-align: middle;
	}
	.wrapper {
		display: flex;
		align-items: center;
		padding-top: 15px;
		padding-bottom: 15px;

		@include mobile {
			display: block;
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}
	.button {
		min-width: 140px;
		margin-left: 30px;

		@include mobile {
			margin-top: 20px;
			display: block;
			width: 100%;
			margin-left: 0;
		}
	}
}
.error_msg {    
	color: red;
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    bottom: -23px;
    position: absolute; 
    display: none;
}
.mb0 {
	margin-bottom: 0 !important;
}
.icon_arrow_left {

	&:before {
		content: '' !important;
		background: url('../media/fonts/svg/arrow_left.svg') no-repeat center;
		background-size: 70%;
	}
}
.icon_arrow_right {

	&:before {
		content: '' !important;
		background: url('../media/fonts/svg/arrow_right.svg') no-repeat center;
		background-size: 70%;
	}
}
.mobile_only {
	display: none;

	@include mobile {
		display: block;	
	}
}
.desktop_only {

	@include mobile {
		display: none !important;
	}
}
.hero_video_background {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	* {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
}