.dropdown {
	height: 50px;
	position: relative;
	width: 100%;
	margin-bottom: 30px;
	cursor: pointer;

	&:before {
		display: block;
		position: absolute;
		z-index: 2;
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 6px 3px 0 3px;
		border-color: #0004fc transparent transparent transparent;
		bottom: 15px;
		right: 10px;
	}
	label {
		position: absolute;
		left: 0;
		color: rgba(#000, .5);
		display: block;
		bottom: 0;
		height: 36px;
		z-index: 2;
		line-height: 36px;
		user-select: none;
		transition: font-size 300ms, transform 300ms, color 300ms;
		pointer-events: none;
		transform: translate3d(0,0,0);
	}
	select {
		position: absolute;
		cursor: pointer;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 36px;
		line-height: 36px;
		transition: color 300ms, border-color 300ms;
		color: #000;
		border: none;
		border-bottom: 2px solid $grey;
		white-space: normal;
		padding-left: 0;
		-webkit-appearance: none;
		-moz-appearance : none;

		&:focus,
		&.focus {

			+ label {
				font-size: 11px;
				transform: translate3d(0,-25px,0);
			}
		}
		&.error {
			color: red;
			border-color: red;

			+ label {
				color: red;
			}
		}
	}
}