@font-face {
  font-family: 'AvenirNextLTPro-Bold';
  src: url('../media/fonts/avenir/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),  url('../media/fonts/avenir/AvenirNextLTPro-Bold.otf')  format('opentype'),
       url('../media/fonts/avenir/AvenirNextLTPro-Bold.woff') format('woff'), url('../media/fonts/avenir/AvenirNextLTPro-Bold.ttf')  format('truetype'), url('../media/fonts/avenir/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNextLTPro-Medium';
  src: url('../media/fonts/avenir/AvenirNextLTPro-Medium.eot?#iefix') format('embedded-opentype'),  url('../media/fonts/avenir/AvenirNextLTPro-Medium.otf')  format('opentype'),
       url('../media/fonts/avenir/AvenirNextLTPro-Medium.woff') format('woff'), url('../media/fonts/avenir/AvenirNextLTPro-Medium.ttf')  format('truetype'), url('../media/fonts/avenir/AvenirNextLTPro-Medium.svg#AvenirNextLTPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNextLTPro-Regular';
  src: url('../media/fonts/avenir/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),  url('../media/fonts/avenir/AvenirNextLTPro-Regular.otf')  format('opentype'),
       url('../media/fonts/avenir/AvenirNextLTPro-Regular.woff') format('woff'), url('../media/fonts/avenir/AvenirNextLTPro-Regular.ttf')  format('truetype'), url('../media/fonts/avenir/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
