footer {
	padding: 36px 0;

	.wrapper {
		display: flex;
		justify-content: space-between;

		.column {
			display: inline-block;
		}
		@include tablet {
			flex-wrap: wrap;

			.column {
				display: block;
				margin-bottom: 15px;
				width: 100%;

				&.copy {
					order: 3;
				}
				&.middle {
					order: 1;
				}
				&.last {
					order: 2;
				}
			}
		}
	}
	a {
		color: $blue;
		text-decoration: none;

		&:hover {

			@include no_touch {
				text-decoration: underline;
			}
		}
	}
}