header {
	height: 42px;
	width: 100%;
	top: 94px;
	z-index: 20;
	position: fixed;
	transition: transform 300ms;
	transform: translate3d(0,0,0);

	@include mobile {
		top: 33px;
	}
	&:before {
		height: 182px;
		width: 100%;
		left: 0;
		top: 50%;
		transform: translate3d(0,-50%,0);
		background: #fff;
		content: '';
		display: block;
		position: absolute;
		opacity: 0;
		pointer-events: none;
		transition: opacity 500ms, height 500ms;
	}
	.logo {
		line-height: 42px;
		font-size: 15px;
		color: #fff;
		font-family: $bold;
		text-transform: uppercase;
		letter-spacing: 1px;
		cursor: pointer;
		display: inline-block;
		vertical-align: top;
		user-select: none;
		transition: color 300ms, opacity 300ms;
		position: relative;
		z-index: 1;
		text-decoration: none;
	}
	.cart {
		width: 30px;
		height: 30px;
		cursor: pointer;
		position: relative;
		margin: 6px 0 6px 40px; 
		display: inline-block;
		vertical-align: top;
		text-decoration: none;
		color: #000;
		transition: transform 300ms;
		transform: translate3d(0,0,0) scale(1);
		@include icon(cart);

		&.added {
			transform: translate3d(0,0,0) scale(1.3);

			&:after {
				transform: translate3d(0,0,0) scale(1);
			}
		}
		@include mobile {
			display: none;
		}

		&:before {
			display: block;
			position: absolute;
			font-size: 20px;
			line-height: 20px;
			padding-top: 9px;
			color: #fff;
			z-index: 1;
			transition: color 300ms;
		}
		&:after {
			display: block;
			position: absolute;
			content: '';
			width: 42px;
			height: 42px;
			border-radius: 50%;
			background: $blue;
			left: -6px;
			top: -6px;
			transform: translate3d(0,0,0) scale(0);
			transition: transform 300ms;
		}
		&:hover {

			@include no_touch {

				&:after {
					transform: translate3d(0,0,0) scale(1);
				}
			}
		}
		span {
			position: absolute;
			display: block;
			z-index: 2;
			background: #fff;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			top: 0;
			right: 0;
			text-align: center;
			line-height: 11px;
			font-family: $bold;
			font-size: 11px;
			padding: 3px 0;
			transition: color 300ms, background 300ms;
		}
	}
	.person {
		width: 30px;
		height: 30px;
		cursor: pointer;
		position: relative;
		margin: 6px 0 6px 40px; 
		display: inline-block;
		vertical-align: top;
		@include icon(profile);

		@include mobile {
			display: none;
		}

		&:before {
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			line-height: 30px;
			text-align: center;
			color: #fff;
			transition: color 300ms;
			font-size: 16px;
			top: 0;
			left: 0;
			z-index: 2;
		}
		&:after {
			width: 42px;
			height: 42px;
			position: absolute;
			content: '';
			display: block;
			border-radius: 50%;
			background: $blue;
			top: -6px;
			left: -6px;
			transform: translate3d(0,0,0) scale(0);
			transition: transform 300ms;
		}
		.selector_holder {
			position: absolute;
			top: 15px;
			transform: translate3d(0,50px,0);
			opacity: 0;
			pointer-events: none;
			transition: transform 300ms, opacity 300ms;
			width: 180px;
			margin-left: -89px;
			left: 50%;
			padding-top: 30px;

			.content {
				background: #fff;
				border-radius: 2px;
				border: 2px solid $grey;
				position: relative;
				padding: 10px 0 8px;

				&:before {
					display: block;
					position: absolute;
					content: '';
					width: 14px;
					height: 14px;
					border-left: 2px solid $grey;
					border-top: 2px solid $grey;
					transform: rotateZ(45deg);
					top: -8px;
					background: #fff;
					left: 50%;
					margin-left: -8px;
				}
			}
			a {
				color: #000;
				text-decoration: none;
				position: relative;
				z-index: 1;
				display: block;
				transition: color 300ms;
				padding: 0 23px;
				font-family: $normal;
				cursor: pointer;
				font-size: 15px;

				&:hover {
					
					@include no_touch {
						color: $blue;
					}
				}
			}
		}
		&:hover {

			@include no_touch {

				.selector_holder {
					transform: translate3d(0,0,0);
					opacity: 1;
					pointer-events: all;
				}
				&:after {
					transform: translate3d(0,0,0) scale(1);
				}
			}
		}
		&.hover {

			@include touch {

				.selector_holder {
					transform: translate3d(0,0,0);
					opacity: 1;
					pointer-events: all;
				}
				&:after {
					transform: translate3d(0,0,0) scale(1);
				}
			}
		}
	}
	.fr {
		font-size: 0;
		position: relative;
		z-index: 2;

		@include mobile {
			position: absolute;
			right: 40px;
			top: 0;
		}
	}
	.lang_selector {
		width: 30px;
		height: 30px;
		cursor: pointer;
		position: relative;
		margin: 6px 0 6px 40px; 
		display: inline-block;
		vertical-align: top;
		color: #fff;
		font-family: $bold;
		font-size: 12px;
		line-height: 30px;
		letter-spacing: 1px;
		text-transform: uppercase;
		user-select: none;
		transition: color 300ms;

		@include mobile {
			display: none;
		}

		&:before {
			display: block;
			position: absolute;
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 6px 2.5px 0 2.5px;
			border-color: #ffffff transparent transparent transparent;
			right: 0;
			top: 50%;
			margin-top: -3px;
			transition: transform 300ms, border-color 300ms;
			transform: translate3d(0,0,0) rotateZ(0);
			z-index: 1;
		}
		&:after {
			width: 42px;
			height: 42px;
			position: absolute;
			content: '';
			display: block;
			border-radius: 50%;
			background: $blue;
			top: -6px;
			left: -6px;
			transform: translate3d(0,0,0) scale(0);
			transition: transform 300ms;
		}
		.current {
			padding-right: 10px;
			position: relative;
			z-index: 1;
		}
		.selector_holder {
			position: absolute;
			top: 15px;
			transform: translate3d(0,50px,0);
			opacity: 0;
			pointer-events: none;
			transition: transform 300ms, opacity 300ms;
			width: 120px;
			margin-left: -59px;
			left: 50%;
			padding-top: 30px;

			.content {
				background: #fff;
				border-radius: 2px;
				border: 2px solid $grey;
				position: relative;
				padding: 10px 0 8px;

				&:before {
					display: block;
					position: absolute;
					content: '';
					width: 14px;
					height: 14px;
					border-left: 2px solid $grey;
					border-top: 2px solid $grey;
					transform: rotateZ(45deg);
					top: -8px;
					background: #fff;
					left: 50%;
					margin-left: -8px;
				}
			}
			a {
				color: #000;
				text-decoration: none;
				position: relative;
				z-index: 1;
				display: block;
				transition: color 300ms;
				padding: 0 23px;
				font-family: $normal;
				cursor: pointer;

				&:hover {
					
					@include no_touch {
						color: $blue;
					}
				}
			}
		}
		&:hover {

			@include no_touch {

				.selector_holder {
					transform: translate3d(0,0,0);
					opacity: 1;
					pointer-events: all;
				}
				&:before {
					transform: translate3d(0,0,0) rotateZ(-180deg);
				}
				&:after {
					transform: translate3d(0,0,0) scale(1);
				}
			}
		}
		&.hover {

			@include touch {

				.selector_holder {
					transform: translate3d(0,0,0);
					opacity: 1;
					pointer-events: all;
				}
				&:before {
					transform: translate3d(0,0,0) rotateZ(-180deg);
				}
				&:after {
					transform: translate3d(0,0,0) scale(1);
				}
			}
		}
	}
	.button {
		transition: opacity 300ms;

		@include mobile {
			display: none !important;
		}
	}
	.mobile_menu_controls {
		display: none;

		@include mobile {
			display: block;
			position: absolute;
			left: 40px;
			top: 0;
			z-index: 2;
			pointer-events: none;
			opacity: 0;
			transition: opacity 300ms;

			.cart,
			.person,
			.lang_selector {
				display: inline-block;
				margin-left: 20px;
			}
			.cart {
				margin-left: 0;
			}
		}
	}
	.burger {
		height: 35px;
		line-height: 35px;
		margin: 3px -10px 3px 30px;
		display: inline-block;
		vertical-align: top;
		cursor: pointer;
		position: relative;
		user-select: none;
		padding: 10px 50px 10px 10px;

		&:before {
			display: block;
			position: absolute;
			content: '';
			height: 42px;
			top: -3px;
			background: $blue;
			width: calc(100% + 20px);
			left: -10px;
			border-radius: 20px;
			transform: translate3d(0,0,0) scale(0);
			transition: transform 300ms;
		}
		&:hover {

			@include no_touch {
				
				&:before {
					transform: translate3d(0,0,0) scale(1);
				}
			}
		}
		span {
			line-height: 15px;
			letter-spacing: 1px;
			font-family: "AvenirNextLTPro-Bold";
			font-size: 12px;
			color: #fff;
			text-transform: uppercase;
			cursor: pointer;
			height: 15px;
			display: block;
			position: relative;
			z-index: 1;
			transition: color 300ms;
			overflow: hidden;

			@include mobile {
				display: none;
			}
			span {
				transition: transform 300ms;
			}
		}
		.box {
			position: absolute;
			height: 18px;
			width: 24px;
			top: 9px;
			right: 10px;
			overflow: hidden;
			z-index: 1;

			.plank {
				height: 2px;
				width: 24px;
				background: #fff;
				position: absolute;
				transition: transform 300ms, background 300ms;
				transform-origin: center center !important;
				
				&:first-child {
					left: 0;
					top: 0;
					transform: translate3d(-4px,0,0);
				}
				&:nth-child(2) {
					left: 0;
					top: 8px;
					transform: translate3d(0,0,0);
				}
				&:nth-child(3) {
					left: 0;
					bottom: 0;
					transform: translate3d(-8px,0,0);
				}
				&:nth-child(4) {
					left: 0;
					top: 8px;
					transform: translate3d(-24px,-22px,0) rotateZ(45deg);
				}
				&:nth-child(5) {
					left: 0;
					top: 8px;
					transform: translate3d(24px,-22px,0) rotateZ(-45deg);
				}
			}
		}
	}
	&.black {
		
		.cart {

			span {
				background: #000;
				color: #fff;
			}
			&:before {
				color: #000;
			}
			&:hover {

				@include no_touch {

					span {
						background: #fff;
						color: #000;
					}
					&:before {
						color: #fff;
					}
				}
			}
			&.added {
				span {
					background: #fff;
					color: #000;
				}
				&:before {
					color: #fff;
				}
			}
		}
		.lang_selector {
			color: #000;

			&:before {
				border-color: #000 transparent transparent transparent;
			}
			.langs {

				a {
					color: #000;
				}
			}
			&:hover {

				@include no_touch {
					color: #fff;

					&:before {
						border-color: #fff transparent transparent transparent;
					}
					.langs {

						a {
							color: #fff;

							&:hover {
								color: #000;
							}
						}
					}
				}
			}
			&.hover {

				@include touch {
					color: #fff;

					&:before {
						border-color: #fff transparent transparent transparent;
					}
					.langs {

						a {
							color: #fff;

							&:hover {
								color: #000;
							}
						}
					}
				}
			}
		}
		.burger {

			span {
				color: #000;
			}
			.box {

				.plank {
					background: #000;
				}
			}
			&:hover {

				@include no_touch {

					span {
						color: #fff;
					}
					.box {

						.plank {
							background: #fff;
						}
					}
				}
			}	
		}
		.logo {
			color: #000 !important;
		}
		.person {

			&:before {
				color: #000;
			}
			&:hover {

				@include no_touch {

					&:before {
						color: #fff;
					}
				}
			}
			&.hover {

				@include touch {

					&:before {
						color: #fff;
					}
				}
			}
		}
	}
}
body.open {

	header {

		.burger {

			.box {

				.plank {

					&:first-child {
						transform: translate3d(28px,0,0);
					}
					&:nth-child(2) {
						transform: translate3d(-24px,0,0);
					}
					&:nth-child(3) {
						transform: translate3d(32px,0,0);
					}
					&:nth-child(4) {
						transform: translate3d(0,0,0) rotateZ(45deg);
					}
					&:nth-child(5) {
						transform: translate3d(0,0,0) rotateZ(-45deg);
					}
				}
			}
			span {

				span {
					transform: translate3d(0,-15px,0);
				}
			}
		}
		.logo {
			color: #fff;

			@include mobile {
				opacity: 0;
				pointer-events: none;
			}
		}
		.button {
			pointer-events: none;
			opacity: 0;
		}
	}
	.cart {

		span {
			background: #000;
			color: #fff;
		}
		&:before {
			color: #000;
		}
		&:hover {

			@include no_touch {

				span {
					background: #fff;
					color: #000;
				}
				&:before {
					color: #fff;
				}
			}
		}
	}
	.lang_selector {
		color: #000;

		&:before {
			border-color: #000 transparent transparent transparent;
		}
		.langs {

			a {
				color: #000;
			}
		}
		&:hover {

			@include no_touch {
				color: #fff;

				&:before {
					border-color: #fff transparent transparent transparent;
				}
				.langs {

					a {
						color: #fff;

						&:hover {
							color: #000;
						}
					}
				}
			}
		}
		&.hover {

			@include touch {
				color: #fff;

				&:before {
					border-color: #fff transparent transparent transparent;
				}
				.langs {

					a {
						color: #fff;

						&:hover {
							color: #000;
						}
					}
				}
			}
		}
	}
	.burger {

		span {
			color: #000;
		}
		.box {

			.plank {
				background: #000;
			}
		}
		&:hover {

			@include no_touch {

				span {
					color: #fff;
				}
				.box {

					.plank {
						background: #fff;
					}
				}
			}
		}	
	}
	.person {

		&:before {
			color: #000;
		}
		&:hover {

			@include no_touch {

				&:before {
					color: #fff;
				}
			}
		}
		&.hover {

			@include touch {

				&:before {
					color: #fff;
				}
			}
		}
	}
	.mobile_menu_controls {

		@include mobile {
			opacity: 1;
			pointer-events: all;
		}
	}
}
body.scrolled {

	header {
		transform: translate3d(0,-74px,0);

		@include mobile {
			transform: translate3d(0,-24px,0);
		}
		&:before {
			height: 82px;
			opacity: 1;
			pointer-events: all;
			border-bottom: 1px solid $grey;

			@include mobile {
				height: 62px;
			}
		}
		.logo {
			color: #000;
		}
		.button {
			pointer-events: all;
			opacity: 1;
		}
	}
	.cart {

		span {
			background: #000;
			color: #fff;
		}
		&:before {
			color: #000;
		}
		&:hover {

			@include no_touch {

				span {
					background: #fff;
					color: #000;
				}
				&:before {
					color: #fff;
				}
			}
		}
		&.added {
			
			span {
				background: #fff;
				color: #000;
			}
			&:before {
				color: #fff;
			}
		}
	}
	.lang_selector {
		color: #000;

		&:before {
			border-color: #000 transparent transparent transparent;
		}
		.langs {

			a {
				color: #000;
			}
		}
		&:hover {

			@include no_touch {
				color: #fff;

				&:before {
					border-color: #fff transparent transparent transparent;
				}
				.langs {

					a {
						color: #fff;

						&:hover {
							color: #000;
						}
					}
				}
			}
		}
	}
	.burger {

		span {
			color: #000;
		}
		.box {

			.plank {
				background: #000;
			}
		}
		&:hover {

			@include no_touch {

				span {
					color: #fff;
				}
				.box {

					.plank {
						background: #fff;
					}
				}
			}
		}	
	}
	.person {

		&:before {
			color: #000;
		}
		&:hover {

			@include no_touch {

				&:before {
					color: #fff;
				}
			}
		}
	}
}