@font-face {
	font-family: "icons";
	src: url('../media/fonts/icons.eot');
	src: url('../media/fonts/icons.eot?#iefix') format('eot'),
		 url('../media/fonts/icons.woff') format('woff'),
		 url('../media/fonts/icons.ttf') format('truetype'),
		 url('../media/fonts/icons.svg#icons') format('svg');
}

@mixin icon-styles {
	font-family: "icons";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";
	
	@if $filename == arrow_left {
		$char: "\EA01";
	}
	@if $filename == arrow_right {
		$char: "\EA02";
	}
	@if $filename == cart {
		$char: "\EA03";
	}
	@if $filename == check {
		$char: "\EA04";
	}
	@if $filename == close {
		$char: "\EA05";
	}
	@if $filename == date {
		$char: "\EA06";
	}
	@if $filename == download {
		$char: "\EA07";
	}
	@if $filename == facebook {
		$char: "\EA08";
	}
	@if $filename == instagram {
		$char: "\EA09";
	}
	@if $filename == isbn {
		$char: "\EA0A";
	}
	@if $filename == profile {
		$char: "\EA0B";
	}
	@if $filename == ruller {
		$char: "\EA0C";
	}
	@if $filename == size {
		$char: "\EA0D";
	}
	@if $filename == time {
		$char: "\EA0E";
	}
	@if $filename == weight {
		$char: "\EA0F";
	}
	@if $filename == zoom {
		$char: "\EA10";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon_arrow_left {
	@include icon(arrow_left);
}
.icon_arrow_right {
	@include icon(arrow_right);
}
.icon_cart {
	@include icon(cart);
}
.icon_check {
	@include icon(check);
}
.icon_close {
	@include icon(close);
}
.icon_date {
	@include icon(date);
}
.icon_download {
	@include icon(download);
}
.icon_facebook {
	@include icon(facebook);
}
.icon_instagram {
	@include icon(instagram);
}
.icon_isbn {
	@include icon(isbn);
}
.icon_profile {
	@include icon(profile);
}
.icon_ruller {
	@include icon(ruller);
}
.icon_size {
	@include icon(size);
}
.icon_time {
	@include icon(time);
}
.icon_weight {
	@include icon(weight);
}
.icon_zoom {
	@include icon(zoom);
}
