section.index_hero {
	min-height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;

	&:before {
		position: absolute;
		z-index: 2;
		display: block;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		content: '';
		background: rgba(0,0,0,.45);
		background: -moz-linear-gradient(left, rgba(0,0,0,.7) 0%, rgba(0,0,0,.2) 100%);
		background: -webkit-linear-gradient(left, rgba(0,0,0,.7) 0%, rgba(0,0,0,.2) 100%);
		background: linear-gradient(to right, rgba(0,0,0,.7) 0%, rgba(0,0,0,.2) 100%);
	}
	.wrapper {
		min-height: 100vh;
		position: relative;
		display: flex;
		padding-top: 250px;
		padding-bottom: 250px;
		z-index: 2;

		@include mobile {
			padding-top: 105px;
			padding-bottom: 0;
			display: block;
		}
	}
	h1 {
		color: #fff;
		max-width: 544px;
		width: 100%;
		position: relative;
		margin: auto 0;
		display: block;
	}
	.boxes {
		position: absolute;
		padding-top: 52px;
		padding-bottom: 82px;
		height: 250px;
		bottom: 0;
		display: flex;
		justify-content: space-between;
		width: calc(100% - 80px);

		@include mobile {
			display: block;
			position: static;
			padding-top: 40px;
			padding-bottom: 40px;
		}
		.box {
			overflow: hidden;
			display: inline-block;
			vertical-align: top;
			height: 146px;
			width: 260px;
			cursor: pointer;
			text-decoration: none;
			color: #fff;

			@include mobile {
				display: block;
				height: auto;
			}
			.name {
				text-transform: uppercase;
				font-weight: $bold;
				font-size: 12px;
				letter-spacing: 1px;
				position: relative;
				margin-bottom: 25px;
				transition: transform 500ms;
				transform: translate3d(0,76px,0);

				@include mobile {
					transform: translate3d(0,0,0);
				}
				&:before {
					display: block;
					position: absolute;
					width: 60px;
					content: '';
					left: 0;
					top: 25px;
					height: 2px;
					background: #fff;
					opacity: .3;
					transition: opacity 500ms, transform 500ms;
					transform: translate3d(-20px,0,0);
				}
			}
			.content {
				color: #fff;
				opacity: 0;
				font-size: 15px;
				font-weight: $normal;
				line-height: 155%;
				transition: opacity 500ms, transform 500ms;
				transform: translate3d(0,76px,0);

				@include mobile {
					display: none;
				}
			}
			&:hover {

				@include no_touch {

					.name {
						transform: translate3d(0,0,0);

						&:before {
							transform: translate3d(0,0,0);
							opacity: 1;
						}
					}
					.content {
						transform: translate3d(0,0,0);
						opacity: .5;
					}
				}
			}
		}
	}
	.mobile_background,
	.desktop_background {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
section.books {
	padding: 30px 0 40px 0;

	.wrapper {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.book_block {
		display: inline-block;
		vertical-align: top;
		width: 300px;
		padding-top: 384px;
		position: relative;
		margin-bottom: 30px;
		
		@include tablet {
			padding-top: 285px;
		}
		@include mobile {
			padding-top: 275px;
			width: 100%;
			display: block;
		}
		.img_holder {
			position: absolute;
			height: 300px;
			width: 100%;
			top: 0;
			left: 0;

			img {
				width: 393px;
				position: absolute;
				left: -105px;

				@include tablet {
					width: 290px;
					position: absolute;
					left: -76px;
					top: 0px;
				}
			}
		}
		.pattern {
			position: absolute;
			width: calc(100% + 51px);
			left: -85px;
			height: calc(100% + 134px);
			top: -20px;
			z-index: 2;
			background: #fff;
			opacity: 0;
			cursor: pointer;
			transition: opacity 500ms;

			&:hover {

				@include no_touch {
					opacity: .92;
				}
			}
		}
		.center {
			position: absolute;
			width: 108px;
			height: 108px;
			margin-top: -60px;
			margin-left: -20px;
			top: 50%;
			left: 50%;
			text-transform: uppercase;
			text-align: center;
			font-size: 12px;
			font-family: $bold;
			line-height: 19px;
			letter-spacing: 1px;
			color: $blue;
			padding-bottom: 10px;
			padding-top: 60px;
			@include icon(zoom);

			@include tablet {
				margin-top: -103px;
				margin-left: -48px;
			}
			&:before {
				display: block;
				width: 100%;
				text-align: center;
				position: absolute;
				top: 0;
				left: 0;
				line-height: 48px;
				font-size: 48px;
				color: $blue;
			}
		}
		.title {
			position: relative;
			z-index: 2;
			margin-top: 20px;
			font-size: 21px;
			font-family: $medium;
			margin-bottom: 15px;
			height: 52px;
			overflow: hidden;

			@include mobile {
				overflow: visible;
				height: auto;
			}
		}
		.about {
			position: relative;
			z-index: 2;
			margin-bottom: 15px;
			height: 78px;
			overflow: hidden;

			@include mobile {
				overflow: visible;
				height: auto;
			}
		}
		.radio {
			margin-left: 15px;
		}
		.price {
			margin-top: 25px;
			font-size: 31px;
			font-family: $medium;
			margin-bottom: 15px;
		}
	}
}
section.add {
	background-color: #FFCB05;
	height: 100px;
	position: relative;

	@include mobile {
		height: 70px;
	}

	img {
		margin: 0 auto;
		height: 100px;
		width: 1366px;
		margin-left: -683px;
		left: 50%;
		top: 0;
		position: absolute;

		@include mobile {
			height: 70px;
			width: 956px;
			margin-left: -478px;
		}
	}
}
section.witnessing {

	h2 {
		text-align: center;
		margin-bottom: 50px;

		@include mobile {
			margin-bottom: 15px;
		}
	}
	.witness {
		display: flex;
		margin-bottom: 70px;

		@include mobile {
			flex-wrap: wrap;
			margin-bottom: 40px;
		}
		.left,
		.right {
			display: inline-flex;
			width: 50%;

			@include mobile {
				display: block;
				width: 100%;
			}
			.video_holder {
				position: relative;
				width: 100%;
				height: 308px;
				border-radius: 4px;
				overflow: hidden;
				transition: height 300ms;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;

				@include wrapper {
					height: calc((100vw - 80px) / 2 * 0.56);
				}
				@include mobile {
					height: calc((100vw - 80px) * 0.56);
				}
				iframe {
					display: block;
					width: 100%;
					position: absolute;
					height: 100%;
				}	
				.poster {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					z-index: 1;
					cursor: pointer;
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;
					transition: opacity 300ms, height 300ms;

					&:before {
						display: block;
						position: absolute;
						z-index: 1;
						content: '';
						width: 100px;
						height: 100px;
						border-radius: 50%;
						background: #fff;
						top: 50%;
						left: 50%;
						margin-top: -50px;
						margin-left: -50px;
						transition: background 300ms;

						@include mobile {
							width: 50px;
							height: 50px;
							margin-left: -25px;
							margin-top: -25px;
						}
					}
					&:after {
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 4.5px 0 4.5px 9px;
						border-color: transparent transparent transparent #0004fc;
						margin-top: -4px;
						margin-left: -4px;
						top: 50%;
						left: 50%;
						display: block;
						position: absolute;
						content: '';
						transition: border-color 300ms;
						z-index: 2;
					}
					&:hover {

						@include no_touch {

							&:before {
								background: $blue;
							}
							&:after {
								border-color: transparent transparent transparent #fff;
							}
						}
					}
					&.gone {
						opacity: 0;
						pointer-events: none;
					}
				}
			}
			.text_holder {
				padding: 105px 0 45px 105px;
				margin: auto 0;
				position: relative;

				@include mobile {
					padding: 70px 0 0 0px;
				}
				&:before {
					position: absolute;
					display: block;
					content: '“';
					line-height: 120px;
					height: 120px;
					font-size: 120px;
					top: 25px;
					color: $blue;
					font-family: $bold;
					left: 100px;

					@include mobile {
						line-height: 120px;
						height: 120px;
						font-size: 96px;
						top: 3px;
						left: -4px;
					}
				}
				.author {
					opacity: .5;
					margin-top: 18px;
				}
			}
		}
		&:nth-child(even) {
			
			.text_holder {
				padding: 105px 105px 45px 0;

				@include mobile {
					padding: 70px 0 0 0px;
				}
				&:before {
					left: 0;

					@include mobile {
						line-height: 120px;
						height: 120px;
						font-size: 96px;
						top: 3px;
						left: -4px;
					}
				}
			}
			@include mobile {

				.left {
					order: 2;
				}
				.right {
					order: 1;
				}
			}
		}
	}
	.buttons_holder {
		text-align: center;
	}
}
.index_page section.witnessing {
	padding: 100px 0 80px;
	background: #F1F1F1;

	@include mobile {
		padding: 40px 0;
	}
}
section.video_background {
	background: #000;

	.wrapper {
		position: relative;

		@include mobile {
			display: flex;
			flex-wrap: wrap;
		}
		.left,
		.right {
			color: #fff;
			display: inline-block;
			vertical-align: top;
			min-height: 650px;
			position: relative;
			width: 50%;

			@include mobile {
				display: block;
				min-height: 0;
				width: 100%;
			}
		}
		.left {
			padding: 220px 100px 150px 0;
			position: relative;
			z-index: 2;

			@include mobile {
				padding: 90px 0 45px 0;
				order: 2;
			}
			&:before {
				width: 60px;
				height: 2px;
				background: $blue;
				position: absolute;
				display: block;
				content: '';
				top: 160px;
				left: -30px;

				@include mobile {
					top: 52px;
				}
			}
			h2 {
				margin-bottom: 25px;
			}
			.button {
				margin-top: 25px;
			}
		}
		// .right {

		// 	img {
		// 		height: 768px;
		// 	}
		// }
		video {
			position: absolute;
			width: 100%;
			height: auto;
			left: 0;
			bottom: 0;

			@include mobile {
				order: 1;
				position: static;
				width: 100vw;
				margin-left: -40px;
				height: 56vw;
			}
		}
	}
}
section.news {
	
	h2 {
		text-align: center;
		margin-bottom: 52px;

		@include mobile {
			margin-bottom: 15px;
		}
	}
	.news_grid {
		font-size: 0;

		.grid_sizer {
			width: calc(33.33% - 47px);

			@include mobile {
				display: none;
			}
		}
		.new {
			display: inline-block;
			vertical-align: top;
			margin-bottom: 50px;
			font-size: 15px;
			width: calc(33.33% - 47px);
			height: 210px;
			border-radius: 4px;
			cursor: pointer;
			text-decoration: none;
			color: #fff;
			position: relative;
			overflow: hidden;

			@include mobile {
				width: 100%;
				display: block;
				margin-bottom: 30px;
			}
			&.big {
				height: 362px;
			}
			&.medium {
				height: 310px;
			}
			.img {
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate3d(-50%, -50%, 0) scale(.7);
				width: 144%;
				height: 144%;
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				transition: transform 500ms linear;
			}
			&:hover {

				@include no_touch {

					.img {
						transform: translate3d(-50%, -50%, 0) scale(1);
						transition: transform 4s linear;
					}
				}
			}
			.info {
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				z-index: 2;

				&:before {
					display: block;
					position: absolute;
					z-index: 2;
					content: '';
					width: 100%;
					height: 100%;
					background: rgba(0,0,0,0); /* Old browsers */
					background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.8) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,.8) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				}
				.icon {
					display: block;
					width: 9px;
					height: 18px;
					position: absolute;
					top: 20px;
					z-index: 2;
					left: 20px;
					@include icon(facebook);

					&:before {
						display: block;
						width: 100%;
						height: 18px;
						line-height: 18px;
						font-size: 18px;
						color: #fff;
					}
				}
				.text {
					position: absolute;
					padding: 24px 20px;
					width: 100%;
					bottom: 0;
					z-index: 2;
					left: 0;

					.date {
						display: block;
						margin-top: 15px;
						opacity: .5;
					}
				}
			}
		}
	}
	.buttons_holder {
		text-align: center;
		position: relative;
		z-index: 2;

		&:before {
			top: -300px;
			height: 300px;
			width: 100%;
			display: block;
			position: absolute;
			content: '';
			pointer-events: none;
			background: rgba(0,0,0,0); /* Old browsers */
			background: -moz-linear-gradient(top, rgba(#F1F1F1,0) 0%, rgba(#F1F1F1,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(#F1F1F1,0) 0%,rgba(#F1F1F1,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(#F1F1F1,0) 0%,rgba(#F1F1F1,1) 100%);
		}
	}
}
.index_page section.news {
	padding: 100px 0 40px;
	background: #F1F1F1;

	@include mobile {
		padding: 40px 0;
	}
}
section.partners {
	padding: 50px 0;

	.name {
		text-transform: uppercase;
		text-align: center;
		font-size: 13px;
		font-family: $medium;
		letter-spacing: 1px;
		margin-bottom: 50px;
	}
	.parners_holder {
		display: flex;
		align-items: center;
		justify-content: space-around;

		@include mobile {
			display: block;
		}
	}
	.partner {
		display: inline-block;

		img {
			max-width: 130px;
			max-height: 75px;
		}
		@include mobile {
			display: block;
			margin: 0 auto 45px;

			&:last-child {
				margin-bottom: 0;
			}
			img {
				margin: 0 auto;
				display: block;
			}
		}
	}
}