input {
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		/* display: none; <- Crashes Chrome on hover */
		-webkit-appearance: none;
		margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
	}
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: none;
	border: none;
	border-radius: none;
}
.simple_input {
	height: 50px;
	position: relative;
	width: 100%;
	margin-bottom: 30px;

	label {
		position: absolute;
		left: 0;
		color: rgba(#000, .5);
		display: block;
		bottom: 0;
		height: 36px;
		z-index: 2;
		line-height: 36px;
		user-select: none;
		transition: font-size 300ms, transform 300ms, color 300ms;
		pointer-events: none;
		transform: translate3d(0,0,0);
	}
	input {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		border-bottom: 2px solid $grey;
		height: 36px;
		line-height: 36px;
		transition: color 300ms, border-color 300ms;
		color: #000;

		&:focus,
		&.focus {

			+ label {
				font-size: 11px;
				transform: translate3d(0,-25px,0);
			}
		}
		&:-webkit-autofill {

			+ label {
				font-size: 11px;
				transform: translate3d(0,-25px,0);
			}
		}
		&.error {
			color: red;
			border-color: red;

			+ label {
				color: red;
			}
		}
	}
	&.with_link {

		input {
			padding-right: 70px;
		}
		a {
			display: block;
			position: absolute;
			z-index: 2;
			right: 0;
			bottom: 0;
			line-height: 36px;
			color: $blue;
			text-decoration: none;

			&:hover {

				@include no_touch {
					text-decoration: underline;
				}
			}
		}
	}
}