.login_page {

	form.login,
	form.register {
		width: 50%;
		padding-right: 100px;
		border-right: 2px solid $grey;

		@include mobile {
			width: 100%;
			padding-right: 0;
			border: none;
			position: relative;
			margin-bottom: 90px;

			&:after {
				display: block;
				width: calc(100% + 80px);
				position: absolute;
				bottom: -45px;
				left: -40px;
				content: '';
				background: $grey;
				height: 1px;
			}
		}
	}
	h2 {
		margin-bottom: 20px;
	}
	.button {
		margin-bottom: 20px;

		span {
			padding-right: 0;

			&:before {
				display: none;
			}
		}
		&:last-child,
		&.google {
			margin-bottom: 0;
		}
		&.fb {
			background: #3B5898;
		}
		&.google {
			background: #DE4B39;

			&:before {
				background: #EE8D82;
			}
			&:hover {

				@include no_touch {

					span {
						color: #DE4B39;
					}
				}
			}
		}
	}
	.line {
		margin-bottom: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include mobile {
			display: block;
		}

		a {
			padding: 15px 0;
			color: $blue;
			text-decoration: none;

			@include mobile {
				display: block;
			}

			&:hover {

				@include no_touch {
					text-decoration: underline;
				}
			}
		}
	}
	.or {
		margin-bottom: 20px;
		text-align: center;
		opacity: .5;

		@include mobile {
			margin-bottom: 7px;
			margin-top: -13px;
		}
	}
	.right {
		width: 50%;
		padding-left: 100px;

		@include mobile {
			padding-left: 0;
			width: 100%;
		}

		h2 {
			margin-bottom: 30px;
		}
		.button {
			display: block;
		}
	}
}