section.menu {
	width: 100vw;
	position: fixed;
	height: 100vh;
	top: 0;
	right: 0;
	z-index: 10;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	pointer-events: none;
	opacity: 0;
	transition: opacity 300ms;

	@include mobile {
		background: #fff;
	}

	&:before {
		height: 150px;
		width: 440px;
		top: 0;
		content: '';
		z-index: 3;
		background: #fff;
		right: 0;
		box-shadow: 0px 10px 20px 0px rgba(255,255,255,1);
		width: calc((100vw - 1180px) / 2 + 480px);
		position: fixed;
		display: block;
		transform: translate3d(100%,0,0);
		transition: transform 300ms;
		min-width: 480px;

		@include mobile {
			height: 150px;
			width: 100%;
			min-width: 0;
			top: -57px;
		}
	}
	.holder {
		width: calc((100vw - 1180px) / 2 + 480px);
		min-width: 480px;
		min-height: 100%;
		background: #fff;
		right: calc((100vw - 1180px) / -2);
		top: 0;
		transform: translate3d(100%,0,0);
		transition: transform 300ms;
		position: absolute;

		@include wrapper {
			right: 0;
		}
		@include mobile {
			width: 100%;
			min-width: 0;
		}
	}
	.overlay {
		position: absolute;
		height: 100%;
		z-index: 2;
		top: 0;
		left: 0;
		width: calc((100% - 1180px) / 2 + 700px);
		max-width: calc(100% - 480px);
	}
	.wrapper {
		position: relative;
	}
	.content {
		width: 440px;
		padding-left: 145px;
		padding-top: 178px;
		padding-bottom: 178px;
		min-height: 100vh;
		float: right;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: left;
		z-index: 2;

		@include mobile {
			display: block;
			width: 100%;
			padding-left: 0;
			padding-right: 0;
			float: none;
			padding-top: 91px;
			padding-bottom: 120px;
		}
		.center {
			margin: auto 0;
			position: relative;

			&:before {
				display: block;
				content: '';
				position: absolute;
				background: #000;
				width: 40px;
				height: 2px;
				top: 25px;
				left: -79px;
			}
		}
		.center > a:not(.button) {
			display: block;
			padding: 16px 0;
			cursor: pointer;
			text-decoration: none;
			opacity: .3;
			transition: opacity 300ms;
			color: #000;
			font-size: 21px;
			font-family: $medium;

			@include mobile {
				padding: 11px 0;
			}
			&.small {
				padding: 6px 0 6px 13px;
				font-size: 15px;

				@include mobile {
					padding: 3px 0 3px 13px;
				}
			}
			&:hover {

				@include no_touch {
					opacity: 1;
				}
			}
		}
		.button.blue {
			margin: 26px 0 60px;

			@include mobile {
				margin: 20px 0 37px;
			}
		}
		.socials {
			text-align: right;
			font-size: 0;

			@include mobile {
				text-align: left;
			}
			a {
				display: inline-block;
				vertical-align: top;
				width: 36px;
				height: 36px;
				cursor: pointer;
				text-decoration: none;
				margin-left: 29px;
				position: relative;

				@include mobile {
					margin-left: 0;
					margin-right: 20px;
				}
				&:before {
					display: block;
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					text-align: center;
					line-height: 36px;
					color: #000;
					opacity: .3;
					transition: opacity 300ms;
					font-size: 20px;
				}
				&:hover {

					@include no_touch {

						&:before {
							opacity: 1;
						}
					}
				}
			}
		}
	}
}
body.open {

	section.menu {
		pointer-events: all;
		opacity: 1;

		&:before {
			transform: translate3d(0,0,0);
		}
		.holder {
			transform: translate3d(0,0,0);
		}
	}
	&.scrolled {

		section.menu:before {
			display: none;
		}
	}
}
