@mixin mobile {
	@media screen and ( max-width: 1000px ) {
		@content;
	}
}
@mixin tablet {
	@media screen and ( max-width: 1150px ) {
		@content;
	}
}
@mixin no_touch {
	@media screen and ( min-width: 1025px ) {
		@content;
	}
}
@mixin touch {
	@media screen and ( max-width: 1024px ) {
		@content;
	}
}
@mixin wrapper {
	@media screen and ( max-width: 1180px ) {
		@content;
	}
}
@mixin placeholder() {
	&::-webkit-input-placeholder {
		@content;
	}
	&:-moz-placeholder {
		@content;
	}
	&::-moz-placeholder {
		@content;
	}
	&:-ms-input-placeholder {
		@content;
	}
	&:focus::-webkit-input-placeholder {
		text-indent: -9999px;
		font-size: 0;
	}
	&:focus:-moz-placeholder {
		text-indent: -9999px;
		font-size: 0;
	}
	&:focus::-moz-placeholder {
		text-indent: -9999px;
		font-size: 0;
	}
	&:focus:-ms-input-placeholder {
		text-indent: -9999px;
		font-size: 0;
	}
}