#overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	z-index: 30;
	background: rgba(#000, .8);
	display: flex;
	padding: 50px 40px;
	top: 0;
	left: 0;
	pointer-events: none;
	transition: opacity 300ms;
	opacity: 0;

	&.show {
		opacity: 1;
		pointer-events: all;
	}
	.pop {
		margin: auto;
		max-width: 1088px;
		background: #fff;
		position: relative;
		width: 100%;
		transition: transform 300ms, opacity 300ms;
		transform: translate3d(0,200px,0) scale(.7);
		opacity: 0;
		pointer-events: none;
		display: none;
		overflow: hidden;

		&.show {
			transform: translate3d(0,0,0) scale(1);
			opacity: 1;
			pointer-events: all;
		}
		.close {
			position: absolute;
			right: 70px;
			top: 50px;
			cursor: pointer;
			font-family: $bold;
			font-size: 12px;
			padding-right: 30px;
			line-height: 20px;
			letter-spacing: 1px;
			@include icon(close);
			transition: color 300ms;
			text-transform: uppercase;
			z-index: 6;
			color: #000;

			&:before {
				transition: color 300ms;
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				line-height: 20px;
				text-align: right;
				font-size: 15px;
				color: #000;
			}
			@include mobile {
				top: 0;
				right: 0;
				font-size: 0;
				padding: 20px;

				&:before {
					width: 100%;
					height: 100%;
					text-align: center;
					left: 0;
					top: 0;
					line-height: 55px;
				}
			}
		}
		.wrapper {
			width: 100%;
			max-width: 100%;
			padding: 0 92px;

			@include mobile {
				padding: 0 20px;
			}
		}
		&.book {

			.close {
				color: #fff;

				&:before {
					color: #fff;
				}
				&:hover {

					@include no_touch {
						color: $blue;

						&:before {
							color: $blue;
						}
					}
				}
			}
			section.book_options {
				padding-top: 183px;
				padding-bottom: 78px;

				@include mobile {
					padding-top: 49px;
				}

				img {
					width: 258px;
					margin-left: -66px;
					display: block;
				}
				.name {
					margin-top: -45px;
				}
			}
			section.book_blocks {
				padding-bottom: 114px;

				.gallery_picture {
					width: 50%;
					min-height: 45vw;
					height: 100%;
					margin: 0;
					cursor: grab;
					position: absolute;
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;

					@include mobile {
						position: static;
						min-height: 0;
						width: calc(100vw - 40px);
						height: calc(100vw - 40px);
						margin-bottom: 20px;
					}
				}
			}
		}
		&.buy {
			overflow: hidden;
			padding-bottom: 30px;

			.book_block {
				width: 250px;

				@include mobile {
					width: 100%;
				}
				&:first-child {
					position: relative;
					z-index: 3;
				}
				&:nth-child(2) {
					position: relative;
					z-index: 2;
					margin: 0 60px;

					@include mobile {
						margin: 0;
					}
				}
				.img_holder {
					
					img {
						width: 353px;
						position: absolute;
						left: -97px;
						top: 43px;

						@include mobile {
							width: 290px;
							position: absolute;
							left: -76px;
							top: 0px;
						}
					}
				}
				.center {
					margin-top: -32px;
					margin-left: -10px;
				}
			}
			.close {

				&:hover {

					@include no_touch {
						color: $blue;

						&:before {
							color: $blue;
						}
					}
				}
			}
		}
		&.add {
			
			.close {
				color: #fff;

				&:before {
					color: #fff;
				}
				&:hover {

					@include no_touch {
						color: $blue;

						&:before {
							color: $blue;
						}
					}
				}
			}
		}
	}
}
section.two_full_images {
	display: flex;
	padding-bottom: 76px;

	@include mobile {
		display: block;
		padding-bottom: 35px;
	}
	.left,
	.right {
		display: inline-block;
		vertical-align: top;
		width: 50%;
	}
	@include mobile {

		.left {
			width: 74%;
		}
	}
	.left_img {
		width: 100%;
	}
	.right {
		padding-top: 80px;

		@include mobile {
			padding-top: 30px;
			width: 100%;
			display: block;
		}
		h2 {
			margin-bottom: 25px;
			padding: 0 92px;

			@include mobile {
				padding: 0 20px;
			}
		}
		.text {
			margin-bottom: 92px;
			padding: 0 92px;

			@include mobile {
				padding: 0 20px;
				margin-bottom: 35px;
			}
		}
		img {
			width: calc(100% - 92px);
			margin-left: 92px;

			@include mobile {
				width: 74%;
				margin-left: 26%;
			}
		}
	}
}
section.full_gallery_thumbs {
	@extend section.full_gallery;
	height: 624px;
	min-height: 0;
	position: relative;
	// overflow: hidden;

	@include mobile {
		height: 277px;
		overflow: visible;
		margin-bottom: 70px;
	}
	.main {

		.swiper-wrapper {
			height: 624px;
			min-height: 0;

			@include mobile {
				height: 277px;
			}
			.swiper-slide {
				height: 624px;
				min-height: 0;
				background-color: #fff;

				@include mobile {
					height: 277px;
				}
			}
		}
		.swiper-button-prev,
		.swiper-button-next {
			bottom: 145px;
			transition: transform 300ms;

			@include mobile {
				bottom: 115px;
				right: 20px;
				left: auto;
			}
		}
		.swiper-button-prev {

			@include mobile {
				right: 80px;
			}
		}
	}
	.gallery-thumbs {
		position: absolute;
		z-index: 2;
		bottom: 30px;
		width: 100%;
		min-height: 0;
		height: 96px;
		transition: transform 300ms;
		transform: translate3d(0,0,0);

		@include mobile {
			height: 70px;
			transform: translate3d(0,0,0);
		}
		.swiper-wrapper {
			min-height: 0;
			height: 96px;

			@include mobile {
				height: 70px;
			}
			.swiper-slide {
				height: 96px;
				min-height: 0;
				cursor: pointer;
				width: 170px;

				@include mobile {
					width: 120px;
					height: 70px;
				}

				&:before {
					display: none;
				}
			}
		}
	}
	.toggler {
		height: 60px;
		line-height: 60px;
		cursor: pointer;
		z-index: 2;
		position: absolute;
		bottom: 145px;
		left: 90px;
		padding-left: 24px;
		transition: transform 300ms;
		user-select: none;
		display: none !important;

		@include mobile {
			display: none;
		}
		&:before {
			display: block;
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -3px;
			transition: transform 300ms, border-color 300ms;
			transform: translate3d(0,0,0) rotate(0);
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 6px 3px 0 3px;
			border-color: #ffffff transparent transparent transparent;
		}
		.more,
		.less {
			position: absolute;
			transition: opacity 300ms, color 300ms;
			font-size: 12px;
			text-transform: uppercase;
			font-family: $bold;
			letter-spacing: 1px;
			color: #fff;
		}
		.more {
			opacity: 0;
		}
		&:hover {

			@include no_touch {

				&:before {
					border-color: $blue transparent transparent transparent;
				}
				.more,
				.less {
					color: $blue;
				}
			}
		}
	}
	&.open {
		
		.toggler {
			transform: translate3d(0,105px,0);

			&:before {
				transform: translate3d(0,0,0) rotate(180deg);
			}
			.more {
				opacity: 1;
			}
			.less {
				opacity: 0;
			}
		}
		.main {

			.swiper-button-prev,
			.swiper-button-next {
				transform: translate3d(0,105px,0);
			}
		}
		.gallery-thumbs {
			transform: translate3d(0,145px,0);
		}
	}
	@include mobile {

		.main {

			.swiper-button-prev,
			.swiper-button-next {
				transform: translate3d(0,105px,0);
			}
		}
		.gallery-thumbs {
			transform: translate3d(0,115px,0);
		}
	}
}
section.pop_add_content {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	padding: 60px 0;
	color: #fff;

	&:before {
		display: block;
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0,0,0,.3); /* Old browsers */
		background: -moz-linear-gradient(left, rgba(0,0,0,.7) 0%, rgba(0,0,0,.3) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(0,0,0,.7) 0%, rgba(0,0,0,.3) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(0,0,0,.7) 0%, rgba(0,0,0,.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
	h1 {
		margin-top: 0;
	}
	.wrapper {
		position: relative;
		z-index: 2;
	}
	.icons {
		margin-bottom: 40px;

		.date,
		.time {
			display: inline-block;
			position: relative;
			margin-right: 35px;
			padding-left: 30px;

			@include mobile {
				margin-bottom: 5px;
			}
			&:before {
				display: block;
				position: absolute;
				left: 0;
				font-size: 20px;
				color: #fff;
			}
		}
		.date {
			@include icon(date);
		}
		.time {
			@include icon(time);
		}
	}
	.button {

		@include mobile {
			width: 100%;
			display: block;
		}
	}
}