.registration_page {
	@extend .login_page;

	.button:not(.fb):not(.google) {

		span {
			padding-right: 15px;

			&:before {
				display: block;
			}
		}
	}
	form .text {
		margin-bottom: 30px;

		a {
			text-decoration: none;
			color: $blue;

			&:hover {

				@include no_touch {
					text-decoration: underline;
				}
			}
		}
	}
	.checkbox {
		margin-bottom: 15px;
		display: block;

		a {
			text-decoration: none;
			color: $blue;

			&:hover {

				@include no_touch {
					text-decoration: underline;
				}
			}
		}
	}

}