.solo_form_page {
	padding-top: 170px;
	padding-bottom: 60px;
	display: flex;

	@include mobile {
		padding-top: 75px;
		padding-bottom: 40px;
	}

	h2 {
		margin-top: 35px;
		margin-bottom: 20px;
	}
	.wrapper {
		max-width: 520px;
		width: 100%;
   		margin: auto;
	}
	.button {
		display: block;
		width: 100%;
	}
	.table_line {
		border-bottom: 2px solid $grey;
		margin-bottom: 16px;
		display: flex;
		align-items: center;
		padding: 6px 0;

		.date {
			width: 42%;
			display: inline-block;

			@include mobile {
				width: 35%;
			}
		}
		.price {
			width: 42%;
			display: inline-block;
			opacity: .5;

			@include mobile {
				width: 35%;
				text-align: center;
			}
		}
		.link_holder {
			width: 16%;
			display: inline-block;
			text-align: right;

			@include mobile {
				width: 29%;
			}
		}
		.pdf {
			cursor: pointer;
			color: $blue;
			text-decoration: none;
			padding-left: 30px;
			position: relative;
			text-transform: uppercase;
			@include icon(download);

			&:before {
				color: $blue;
				position: absolute;
				display: block;
				top: 0;
				left: 0;
				font-size: 18px;
				line-height: 18px;
			}
			&:hover {

				@include no_touch {
					text-decoration: underline;
				}
			}
		}
	}
}