.success_page,
.wrong_page {
	display: flex;

	.center {
		padding: 210px 40px 60px;
		position: relative;
		margin: auto;
		max-width: 440px;
		width: 100%;
		text-align: center;

		@include mobile {
			padding-top: 165px;
			padding-bottom: 15px;
		}
	}
	h2 {
		margin-bottom: 20px;
	}
	.text {
		margin-bottom: 20px;
	}
	img {
		display: block;
		position: absolute;
		width: 132px;
		left: 50%;
		margin-left: -66px;
		top: 40px;

		@include mobile {
			width: 100px;
			margin-left: -50px;
		}
	}
}
.wrong_page {

	img {
		width: 311px;
		margin-left: -155px;

		@include mobile {
			width: 246px;
			margin-left: -123px;
		}
	}
}