.text_page {
	padding-top: 220px;
	padding-bottom: 60px;

	@include mobile {
		padding-top: 110px;
		padding-bottom: 40px;
	}

	.content {
		width: 100%;
		max-width: 700px;
	}
	h2 {
		margin: 1.3em 0 1em;
	}
}